.catalog__sticky {
    &-button {
        @media (min-width: 48em) {
            display: none;
        }

        position: fixed;
        right: 2.4rem;
        bottom: 18.8rem;
        z-index: 50;
        @include sizes(10.4rem, 10.4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $white;

        svg {
            @include sizes(4.8rem, 4.8rem);
        }
    }
}
