.i-link {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;

  svg {
    flex: 0 0 2.8rem;
    width: 2.8rem;
    height: 2.8rem;
  }

  &__txt {
    line-height: 2.1rem;
    color: $green;
  }
}