.profiles-account {
    display: flex;
    flex-direction: column;

    &__list {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
            row-gap: 1.6rem;
        }
    }

    &__list-item {
        display: block;
        width: 100%;
    }

    &__list-item-content {
        padding: 2.4rem 3.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 3rem;
        background-color: $bgFon;

        @media (max-width: 48em) {
            padding: 4.8rem 3.2rem;
            flex-direction: column;
            row-gap: 3.2rem;
            align-items: stretch;
            justify-content: stretch;
            border-radius: 4.8rem;
            .text {
                font-weight: 500;
            }
        }
    }

    &__list-item-btn {
        &.link {
            column-gap: 1.6rem;

            @media (max-width: 48em) {
                margin: 0;
                justify-content: flex-start;
                column-gap: 3.2rem;
            }
        }
    }

    &__btn {
        align-self: flex-start;

        @media (max-width: 48em) {
            width: 100%;
        }
    }
}

.data-account {
    display: flex;
    flex-direction: column;

    &__link {
        &.link {
            column-gap: 1.6rem;

            @media (max-width: 48em) {
                justify-content: flex-start;
                column-gap: 3.2rem;
            }
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 48em) {
            flex-direction: column;
            row-gap: 2.4rem;
            align-items: flex-start;
            justify-content: stretch;

            .data-account__link {
                margin: 0;
            }
        }
    }

    &__body {
        padding: 5rem;
        border-radius: 3rem;
        background-color: $bgFon;

        @media (max-width: 48em) {
            padding: 4.8rem 3.2rem;
            border-radius: 4.8rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 3.2rem;

        @media (max-width: 48em) {
            row-gap: 6.4rem;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        row-gap: 3.2rem;

        @media (max-width: 48em) {
            row-gap: 4.8rem;
        }
    }

    &__options {
        display: flex;
        gap: 6rem;

        @media (max-width: 48em) {
            flex-direction: column;
            gap: 3.2rem;
        }
    }

    &__text {
        @media (max-width: 48em) {
            font-size: 3rem;
        }
    }

    &__heading {
        @media (max-width: 48em) {
            font-weight: 500;
            font-size: 3.6rem;
        }
    }

    &__fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;

        @media (max-width: 48em) {
            display: flex;
            flex-direction: column;
        }
    }

    &__btn {
        align-self: flex-start;

        @media (max-width: 48em) {
            width: 100%;
        }
    }

    &__heading-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
    }

    &__input {
        &.input_file-input {
            margin-bottom: 3.2rem;
            margin-top: 2rem;

            @media (max-width: 48em) {
                margin-bottom: 4.8rem;
                margin-top: 3rem;
                display: inline-flex;
            }
        }
    }

    &__input-hint {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        color: $grey-text;

        svg {
            flex: 0 0 2.4rem;
            width: 2.4rem;
            height: 2.4rem;
        }

        @media (max-width: 48em) {
            column-gap: 2rem;

            .text {
                font-size: 3rem;
            }

            svg {
                flex: 0 0 4.8rem;
                width: 4.8rem;
                height: 4.8rem;
            }
        }
    }
}
