.favorite-account {
    .empty-history__icon {
        background-color: #fcf3f5;
    }

    &__products {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;

        @media (max-width: 48em) {
            row-gap: 6.4rem;
        }
    }

    &__products-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;

        @media (max-width: 48em) {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }
    }

    &__pagination {
        align-self: center;
    }
}
