.myprofile-account {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 6.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
            content: '';
            flex: 0 0 6rem;
            width: 6rem;
            height: 6rem;
            background-image: url('./assets/images/icons/sm-arr.svg');
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotate(-90deg);
        }
    }

    &__cards {
        margin-bottom: 6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
            flex-direction: column;
            gap: 1.6rem;
        }
    }

    &__card {
        @media (min-width: 48em) {
            flex: 0 0 34.2rem;
        }
    }

    &__support {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;

        @media (max-width: 48em) {
            row-gap: 4.8rem;
        }
    }

    &__support-heading {
        @media (max-width: 48em) {
            font-weight: 500;
            font-size: 4.2rem;
            line-height: 120%;
        }
    }

    &__support-list {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        @media (max-width: 48em) {
            flex-direction: column;
            gap: 1.6rem;
        }
    }
}

.badge-myprofile-account {
    &__inner {
        padding: 1.2rem 4rem;
        display: inline-flex;
        align-items: center;
        column-gap: 1.6rem;
        border-radius: 9.9rem;
        background-color: $bgFon;

        @media (max-width: 48em) {
            padding: 2rem;
            justify-content: center;
            column-gap: 3.2rem;
            width: 100%;
            border-radius: 20rem;
        }
    }

    svg {
        flex: 0 0 2.4rem;
        width: 2.4rem;
        height: 2.4rem;

        @media (max-width: 48em) {
            flex: 0 0 4.8rem;
            width: 4.8rem;
            height: 4.8rem;
        }
    }
}

.card-myprofile-account {
    position: relative;
    padding: 4.8rem 3.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 4.8rem;
    background-color: $bgFon;

    @media (min-width: 48em) {
        padding: 3.2rem;
        min-height: 15.5rem;
        border-radius: 3rem;
        &_large {
            min-height: 25rem;

            &_1 {
                flex: 0 0 67.7rem;
            }
            &_2 {
                flex: 0 0 39rem;
            }
        }
    }

    @media (max-width: 48em) {
        &_large {
            .card-myprofile-account__icon {
                top: 4.8rem;
                transform: none;
            }
        }
        &_large {
            &_1 {
                .card-myprofile-account__head {
                    margin-bottom: 6.4rem;
                }
            }
            &_2 {
                .card-myprofile-account__head {
                    margin-bottom: 1.6rem;
                }
            }
        }
    }

    &_green {
        background-color: $light-green;
        color: $white;

        &::before,
        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 0.2;
        }

        &::before {
            top: -22rem;
            left: -17rem;
            width: 32.3rem;
            height: 32.3rem;

            @media (max-width: 48em) {
                top: -47rem;
                left: -31rem;
                width: 64.6rem;
                height: 64.6rem;
            }
        }

        &::after {
            bottom: -27rem;
            right: -26rem;
            width: 42rem;
            height: 42rem;

            @media (max-width: 48em) {
                bottom: -56rem;
                right: -50rem;
                width: 84rem;
                height: 84rem;
            }
        }
    }

    &:not(&_large) {
        .card-myprofile-account__icon {
            position: absolute;
            top: 50%;
            right: 3.2rem;
            transform: translateY(-50%);
        }
    }

    &__head,
    &__bottom {
        z-index: 2;
        display: flex;
        justify-content: space-between;
    }

    &__head {
        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
        }
    }

    &__bottom {
        @media (max-width: 48em) {
            flex-direction: column;
            row-gap: 4.8rem;
        }
    }

    &__heading-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;

        @media (max-width: 48em) {
            row-gap: 1.6rem;
        }
    }

    &__head {
        margin-bottom: auto;
    }

    &__info {
        display: flex;
        gap: 4.8rem;

        @media (max-width: 48em) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__group-subtitle {
        padding-right: 2.8rem;
        position: relative;
        cursor: pointer;
        width: fit-content;
        &::after {
            position: absolute;
            content:'';
            width: 2rem;
            height: 2rem;
            background-image: url(../assets/images/sections/placing-an/caran.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            right: 0;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;

        @media (max-width: 48em) {
            row-gap: 1.6rem;
        }
    }

    &__icon {
        margin-bottom: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 7.4rem;
        height: 7.4rem;
        border-radius: 50%;
        background-color: $pink;

        svg {
            flex: 0 0 2.4rem;
            width: 2.4rem;
            height: 2.4rem;
        }

        @media (max-width: 48em) {
            width: 10.4rem;
            height: 10.4rem;

            svg {
                flex: 0 0 4.8rem;
                width: 4.8rem;
                height: 4.8rem;
            }
        }
    }

    &__single-link {
        align-self: flex-start;

        @media (min-width: 48em) {
            align-self: flex-end;
        }
    }
}

.menu-account {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    padding: 6.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    transform: translateX(110%);
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease,
        transform 0.3s ease;

    &._is-active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 84.4rem;
        height: 45rem;
        background-image: url('./assets/images/bg/flower.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(50%);
    }

    @media (min-width: 48em) {
        display: none;
    }

    &__head {
        margin-bottom: 8rem;
    }

    &__open-submenu-btn {
        &.link {
            margin: 0;
            justify-content: flex-start;
        }
    }

    &__close-btn {
        display: flex;
        align-items: center;
        column-gap: 3.2rem;
        color: $grey-text;

        svg {
            flex: 0 0 4rem;
            width: 4rem;
            height: 4rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__heading-wrap {
        margin-bottom: 8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2.4rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        row-gap: 3.2rem;
    }

    &__nav-link {
        display: flex;
        align-items: center;
        column-gap: 2rem;

        &._is-active {
            span {
                font-weight: 500;
            }
        }
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 8.8rem;
        width: 8.8rem;
        height: 8.8rem;
        border-radius: 50%;
        background-color: $pink;

        svg {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }

    &__list-item {
        position: relative;

        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            appearance: none;
            opacity: 0;
        }
        input:checked + span {
            font-weight: 500;
        }
    }
}
