.banner {
    &__content {
        padding: 7rem;
        background: $light-green;
        position: relative;
        border-radius: 6rem;
        overflow: hidden;
        color: $white;

        @include small-tablet{
            display: flex;
            flex-direction: column;
            gap: 10.2rem;
            padding: 4.8rem 3.2rem 3.2rem;
            border-radius: 4.8rem;
        }

        &::after {
            @include pseudo {
                left: -37rem;
                bottom: -52rem;
                @include sizes(71rem, 71rem);
                background-color: rgba($white, 0.2);
                border-radius: 50%;

                @include small-tablet{
                    left: -19rem;
                    bottom: -10rem;
                }
            }
        }

        &::before {
            @include pseudo {
                left: 61rem;
                top: -49rem;
                @include sizes(73rem, 73rem);
                background-color: rgba($white, 0.2);
                border-radius: 50%;

                @include small-tablet{
                    left: 39rem;
                    top: -48rem;
                }
            }
        }
    }

    &__title {
        margin-bottom: 2rem;

        @include small-tablet{
            margin-bottom: 3.2rem;
        }
    }

    &__description {
        margin-bottom: 4rem;
        max-width: 65rem;
        width: 100%;

        @include small-tablet{
            max-width: 100%;
            margin-bottom: 4.8rem;
            font-weight: 400;
            font-size: 3rem;
            line-height: 130%;
        }
    }

    &__info {
        position: relative;
        max-width: 96.6rem;
        z-index: 1;

        @include small-tablet{
            max-width: 100%;
        }

        &-text {
            max-width: 71.5rem;
            width: 100%;

            @include small-tablet{
                max-width: 100%;
            }
        }

        &-offer {
            position: absolute;
            display: flex;
            flex-direction: column;
            padding: 4.4rem 3.9rem;
            border-radius: 50%;
            background-color: $pink;
            right: 0;
            bottom: -2.8rem;
            text-align: center;
            align-items: center;
            @include sizes(17rem, 17rem);
            z-index: 1;

            @include small-tablet{
                @include sizes(24rem, 24rem);
                padding: 5.6rem 4.4rem;
                left: -0.8rem;
                bottom: -28.2rem
            }

            &-subtitle {
                @include small-tablet{
                    font-size: 3rem;
                    line-height: 130%;
                }
            }
        }
    }

    &__poster {
        position: absolute;
        right: -5.6rem;
        height: 100%;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        @include sizes(80.4rem, 80.4rem);

        @include small-tablet{
            position: initial;
            @include sizes(100%, 36.6rem);
            transform: translateY(0);
            border-radius: 30rem 4.8rem 4.8rem 4.8rem;

        }

        img {
            border-radius: inherit;
            object-fit: contain;
            height: 100%;

            @include small-tablet{
                object-fit: cover;
            }
        }
    }

    &__button {
        @include small-tablet{
            width: 100%;
        }
    }
}
