.card-modal {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    @media (max-width: 48em) {
        padding: 2.2rem;
        content: '';
        position: fixed;
        z-index: 1400;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(29,29,27,0.5);
        transition: opacity 0.8s ease 0s;
        
    }
    &__wrap {
        box-shadow: 0px 4px 24px 0px #00000026;
        background-color: $white;
        border-radius: 3rem;
        padding: 3.2rem 2rem;
        width: 71rem;
        @media (max-width: 48em) {
            width: 100%;
        }
       
    }

    &__container {
        overflow-y: scroll;
        padding-right: 1rem;
        max-height: 29rem;
    }


    &__container::-webkit-scrollbar {
        width: 0.5rem;
      }
      
      &__container::-webkit-scrollbar-track {
        -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
        background-color: #f9f9fd;
      }
      
      &__container::-webkit-scrollbar-thumb {
        background-color: #F4F4F4;
        background-image: -webkit-gradient(linear, 0 0, 0 100%,
                          color-stop(.5, rgba(255, 255, 255, .25)),
                          color-stop(.5, transparent), to(transparent));
                          border-radius: 4rem;
      }

  

    &__box {
        display: flex;
        background-color: $bgFon;
        border-radius: 3rem;
        width: 100%;
       margin-bottom: 1.6rem;
        padding: 1.6rem;
        position: relative;
        @media (max-width: 48em) {
           
        }
    }

    &__box:last-child {
        margin-bottom: 0;
    }

    &__box-close {
        width: 2rem;
        height: 2rem;
        top: 1.6rem;
        right: 1.6rem;
        position: absolute;
    }

    &__box-image {
        width: 9.6rem;
        min-width: 9.6rem;
        height: 9.6rem;
        border-radius: 2rem;
        margin-right: 1.2rem;
        @media (max-width: 48em) {
            width: 16rem;
            height: 16rem;
            min-width: 16rem;
            margin-right: 2rem;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            @media (max-width: 48em) {
                object-fit: cover;
                border-radius: 4rem;
            }
        }
    }

   &__box-btn-basket {
        width: 16rem;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items:center;
        border:  0.1rem solid #2B5644;
        border-radius: 3.2rem;
        padding-left: 1.4rem;
        padding-right: 0.4rem;
        background-color: #fff;

        span {
            
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: #1D1D1B;
            display: block;

        }
   }

   &__box-btn-basket-icon {
        width: 3.3rem;
        min-width: 3.3rem;
        display: block;
        min-height: 3.3rem;
        height: 3.3rem;
        border-radius: 50%;
        background-color: #2B5644;
        display: flex;
        justify-content: center;
        align-items:center;

        svg {
            width: 2rem;
            height: 2rem;
            
        }
   }

    &__box-title {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.9rem;
        text-align: left;
        margin-bottom: 2.1rem;
        width: 43rem;
        @media (max-width: 48em) {
            font-size: 2.4rem;
            line-height: 3rem;
        }

    }

    &__box-inner {
        display: flex;
        flex-direction: column;
    }

    &__box-wrap {
        display: flex;
        @media (max-width: 48em) {
            flex-wrap: wrap;
        }
    }

    &__price-inner {
        display: flex;
        align-items:center;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3rem;
        letter-spacing: 0.04em;
        text-align: left;
        @media (max-width: 48em) {
            font-size: 3.2rem;
            margin-bottom: 2rem;
        }
    }

    &__price {
        margin-left: 2rem;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        margin-top: 3.2rem;
        @media (max-width: 48em) {
            margin-top: 6rem;
            flex-direction: column-reverse;
        }
    }

    .btn__card {
      
        height: 4rem;
        border: 0.1rem solid #2B5644;
        padding-left: 1.2rem;
        width: 16rem;
        @media (max-width: 48em) {
            width: 100%;
            height: 6rem;
        }
        svg {
            max-width: 3.4rem;
            width: 100%;
            height: 3.4rem;
            @media (max-width: 48em) {
                width: 5.2rem;
                height: 5.2rem;
                max-width: 5.2rem;
            }
        }
    }

    &__box-price {
        padding: 1.6rem 1.2rem;
        border-radius: 10rem;
        background-color: $white;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items:center;
        min-width: 18.8rem;
        height: 4rem;
        margin-right: 1.2rem;
        @media (max-width: 48em) {
            width: 45%;
            font-size: 2rem;
            height: 6rem;
            margin-bottom: 3rem;
        }
    }

    .basket__card-info-top-counter-field {
        height: 4rem;
        width: 13rem;
        margin-right: 1.2rem;
        @media (max-width: 48em) {
            width: 45%;
            font-size: 2rem;
            height: 6rem;
            margin-right: 0;

            input {
                width: 100%;
                font-size: 2rem;
            }
        }
    }

    .basket__card-info-top-counter-field-button {
        max-width: 3.8rem;
        height: 3.8rem;
    }

    &__close {
        display: none;

        @media (max-width: 48em) {
            display: block;
            width: 4rem;
            height: 4rem;
            margin-bottom: 2rem;
            margin-left: auto;
        }
    }
}


.card-modal.active {
    display: block;
}