.catalog {
    &__heading {
        margin-bottom: 7rem;

        &-title {
            display: flex;
            align-items: flex-start;
            gap: 2rem;

            sub {
                color: $grey-text;
            }
        }

        &-price {
            display: flex;
            flex-direction: column;
            text-align: right;
            gap: 0.8rem;

            &-title {
                color: $grey-text;
            }

            &-text {
                color: $pink;
            }
        }
    }

    &__categories {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 8rem;

        &-list {
            max-width: 151.5rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1.6rem;

            &-item {
                a {
                    padding: 2.4rem;
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    border-radius: 2.4rem;
                    background-color: $grey-bg;
                }

                &-icon {
                    @include sizes(6rem, 6rem);
                    border-radius: 50%;

                    img {
                        border-radius: inherit;
                        object-fit: cover;
                        height: 100%;
                    }
                }

                &-text {
                    display: flex;
                    align-items: flex-start;
                    gap: 0.8rem;

                    sup {
                        font-size: 1.4rem;
                        line-height: 120%;
                        text-transform: uppercase;
                        color: $grey-text;
                    }
                }
            }
        }

        &-button {
            margin-top: 4rem;
        }
    }

    &__products {
        display: flex;
        justify-content: space-between;
    }

    &__filters {
        max-width: 39rem;
        width: 100%;

        &-sample {
            margin-bottom: 5.2rem;

            &-heading {
                margin-bottom: 2.4rem;
                display: flex;
                align-items: center;
                gap: 0.8rem;
            }

            &-icon {
                @include sizes(2.4rem, 2.4rem);
            }

            &-fields {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
            }
        }

        &-block {
            padding-top: 2.4rem;
            border-top: 0.1rem solid $grey-text;
            transition: 0.3s margin-bottom ease;

            &.--active {
                > .catalog__filters-block-heading {
                    figure {
                        transform: rotate(-180deg);
                    }

                    span {
                        color: $green;
                    }
                }

                > .catalog__filters-fields-wrapper {
                    grid-template-rows: 1fr;
                }
            }

            &-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                padding-bottom: 2.4rem;

                @include hover {
                    .catalog__filters-block-heading-title {
                        color: $green;
                    }
                }

                &-title {
                    transition: 0.3s color ease;
                }

                &-icon {
                    @include sizes(2.8rem, 2.8rem);
                    transition: 0.3s transform ease;
                }
            }

            &-nested {
                position: relative;

                &::after {
                    @include pseudo {
                        width: 0.1rem;
                        left: 0;
                        height: calc(100% - 4.5rem);
                        top: 2.7rem;
                        opacity: 0;
                        transition: 0.3s opacity ease-out;
                        background-image: repeating-linear-gradient(
                                2deg,
                                #858585,
                                #858585 1.5rem,
                                transparent 1.5rem,
                                transparent 2.8rem,
                                #858585 2.8rem
                            ),
                            repeating-linear-gradient(
                                92deg,
                                #858585,
                                #858585 1.5rem,
                                transparent 1.5rem,
                                transparent 2.8rem,
                                #858585 2.8rem
                            ),
                            repeating-linear-gradient(
                                182deg,
                                #858585,
                                #858585 1.5rem,
                                transparent 1.5rem,
                                transparent 2.8rem,
                                #858585 2.8rem
                            ),
                            repeating-linear-gradient(
                                272deg,
                                #858585,
                                #858585 1.5rem,
                                transparent 1.5rem,
                                transparent 2.8rem,
                                #858585 2.8rem
                            );
                        background-size:
                            0.1rem 100%,
                            100% 0.1rem,
                            0.1rem 100%,
                            100% 0.1rem;
                        background-position:
                            0 0,
                            0 0,
                            100% 0,
                            0 100%;
                        background-repeat: no-repeat;
                    }
                }

                &.--active {
                    &:has(.catalog__filters-block-nested-wrapper) {
                        &::after {
                            opacity: 1;
                        }
                    }

                    > .catalog__filters-block-nested-wrapper {
                        grid-template-rows: 1fr;

                        &:has(.catalog__filters-block-nested-wrapper) {
                            padding-left: 2.2rem;
                        }
                    }

                    > .catalog__filters-block-nested-heading {
                        figure {
                            transform: rotate(-180deg);
                        }
                    }
                }

                &-heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 1.6rem;
                    cursor: pointer;

                    .catalog__filters-block-heading-title {
                        font-weight: 500;
                        font-size: 1.8rem;
                        line-height: 120%;
                        color: $green;
                    }
                }

                &-wrapper {
                    display: grid;
                    grid-template-rows: 0fr;
                    transition:
                        grid-template-rows 500ms,
                        0.5s padding ease;

                    .catalog__filters-block-nested-wrapper {
                        padding-left: 2.2rem;
                    }
                }

                &-content {
                    overflow: hidden;
                }
            }
        }

        &-fields {
            &-content {
                overflow: hidden;
            }

            &-wrapper {
                display: grid;
                grid-template-rows: 0fr;
                transition:
                    grid-template-rows 500ms,
                    0.5s padding ease;
            }
        }

        &-field {
            &:not(:last-child) {
                margin-bottom: 1.6rem;
            }

            &:last-child {
                margin-bottom: 2rem;
            }
        }

        &-blocks {
            margin-bottom: 5.2rem;
        }

        &-category {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            margin-bottom: 5.2rem;

            &-title {
                font-weight: 600;
                font-size: 2.8rem;
                line-height: 110%;
                letter-spacing: 0.04em;
                color: #3c3c3c;
            }

            .catalog__filters-fields-wrapper {
                grid-template-rows: 1fr;
            }

            .catalog__filters-field {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-slide {
            margin-bottom: 5.2rem;

            &-title {
                font-weight: 600;
                font-size: 2.8rem;
                line-height: 110%;
                letter-spacing: 0.04em;
                display: block;
                margin-bottom: 2.4rem;
            }

            &-fields {
                margin-bottom: 2.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5.3rem;
                position: relative;

                &::after {
                    @include pseudo {
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 1.3rem;
                        height: 0.1rem;
                        background-color: $grey-text;
                    }
                }

                label {
                    flex: 1 1 100%;
                    display: block;

                    input {
                        width: 100%;
                        padding: 1.6rem;
                        border: 0.1rem solid rgba(137, 132, 133, 0.5);
                        border-radius: 3rem;
                    }

                    input,
                    input::placeholder {
                        font-size: 1.6rem;
                        line-height: 120%;
                        color: #898485;
                    }
                }
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            justify-content: center;
        }

        &-button {
            width: 100%;

            &.--reset {
                display: flex;
                align-items: center;
                gap: 1.6rem;
                justify-content: center;
                color: $green;
                cursor: pointer;
                width: fit-content;
                margin: 0 auto;
                visibility: hidden;

                &.--active {
                    visibility: visible;
                }
            }

            &-icon {
                @include sizes(2rem, 2rem);
            }
        }
    }

    &__content {
        max-width: 125rem;
        width: 100%;
    }

    &__sample {
        margin-bottom: 4.4rem;

        &-title {
            display: block;
            margin-bottom: 2.4rem;
        }

        &-navigation {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 3rem;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 0.8rem;
            max-width: 108.5rem;
            width: 100%;
        }

        &-item {
            a {
                display: flex;
                align-items: flex-start;
                gap: 0.8rem;
                padding: 0.8rem 2rem;
                border-radius: 10rem;
                background-color: $grey-bg;
            }

            &-text {
                color: #1d1d1b;
                font-weight: 500;
            }

            sub {
                color: $grey-text;
            }
        }

        &-button {
            margin-top: 0.6rem;
        }
    }

    &__sorting {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4.4rem;

        &-fields {
            display: flex;
            align-items: center;
            gap: 4rem;
        }

        &-field {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            &-title {
                color: $grey-text;
            }

            .dropdowns {
                margin: 0;
            }

            .select__value {
                padding: 0.8rem 4rem;
                border-radius: 5rem;
                border: 0.1rem solid $green;
                height: 4rem;

                .select__content {
                    font-size: 1.8rem;
                    color: #3c3c3c;
                }
            }

            .select__options {
                border-radius: 2.4rem;
                border: 0.1rem solid $green;
                padding: 4rem 2rem 2rem 2rem;
                top: calc(100% - 3rem);

                .select__option {
                    padding: 0 0 1.2rem;
                    display: block;
                    width: fit-content;
                    font-size: 1.6rem;
                    line-height: 120%;
                    color: $fontColor;
                }
            }
        }

        &-views {
            display: flex;
            align-items: center;
            gap: 2.4rem;

            &-button {
                @include sizes(2.4rem, 2.4rem);

                &.--active {
                    svg {
                        path {
                            fill: $fontColor;
                        }
                    }
                }

                @include hover {
                    svg {
                        path {
                            fill: $fontColor;
                        }
                    }
                }

                svg {
                    path {
                        transition: 0.3s fill ease;
                    }
                }
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        margin-bottom: 4rem;

        &.--list {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        li {
            &.--list {
                display: none;
            }
        }
    }

    &__promotion-card {
        border-radius: 3rem;
        background-color: $grey-bg;
        padding: 3.2rem 2.4rem;
        position: relative;
        display: flex;
        flex-direction: column;

        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 0.5rem;
            border-bottom: 0.1rem solid $green;
            margin-bottom: 1.2rem;

            strong {
                color: $pink;
            }

            &-icon {
                @include sizes(3.2rem, 3.2rem);
            }
        }

        &-subtitle {
            display: block;
            margin-bottom: 5.6rem;
        }

        &-image {
            border-radius: 50%;
            max-width: calc(100% - 6rem);
            height: 28rem;
            margin: 0 auto 5.7rem;

            img {
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }
}
