.categories {
    &__title {
        margin-bottom: 6rem;
    }

    &__content {
        position: relative;
    }

    &__banner {
        border-radius: 4rem;
        background-color: $light-green;
        padding: 6.6rem 4.8rem;
        position: relative;
        color: $white;
        overflow: hidden;
        margin-bottom: 6rem;

        @include small-tablet{
            padding: 4.8rem 3.2rem 3.2rem;
            margin-bottom: 6.4rem;
            border-radius: 5.6rem;
        }

        &::after {
            @include pseudo {
                left: -32rem;
                bottom: -57rem;
                @include sizes(71rem, 71rem);
                background-color: rgba($white, 0.2);
                border-radius: 50%;
            }
        }

        &::before {
            @include pseudo {
                left: 71rem;
                top: -59rem;
                @include sizes(73rem, 73rem);
                background-color: rgba($white, 0.2);
                border-radius: 50%;
                z-index: 2;
            }
        }

        &-subtitle {
            @include small-tablet{
                font-weight: 400;
                font-size: 2.6rem;
                line-height: 120%;
                text-transform: uppercase;
            }
        }

        &-text {
            max-width: 76.2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            position: relative;
            z-index: 3;

            @include small-tablet{
                max-width: 100%;
                gap: 2.4rem;
                margin-bottom: 6.4rem;
            }
        }

        &-poster {
            position: absolute;
            right: -9.6rem;
            height: 100%;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            @include sizes(76rem, 57rem);
            z-index: 2;

            @include small-tablet{
                position: initial;
                @include sizes(100%, 28.6rem);
                transform: translateY(0);
                border-radius: 30rem 4.8rem 4.8rem 4.8rem;

            }

            img {
                border-radius: inherit;
                object-fit: contain;
                height: 100%;

                @include small-tablet{
                    object-fit: cover;
                }
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6rem 4rem;

        @include small-tablet{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }
    }

    &__card {
        padding: 3.2rem;
        border-radius: 3rem;
        background-color: $grey-bg;
        display: flex;
        flex-direction: column;
        position: relative;

        @include small-tablet{
            flex-direction: row;
            gap: 2.4rem;
            border-radius: 4.8rem;
        }

        @include hover {
            .categories__card-detailed {
                opacity: 1;
            }
        }

        @media (min-width: 48em) {
            .categories__card-detailed {
                position: absolute;
                inset: 0;
                opacity: 0;
                transition: 0.3s opacity ease-out;
            }
        }

        &-image {
            border-radius: 2rem;
            height: 43.6rem;
            margin-bottom: 3.2rem;

            @include small-tablet{
                margin-bottom: 0;
                border-radius: 3.2rem;
                min-height: 24rem;
                flex: 0 0 24rem;
                height: initial;
            }

            img {
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }

        &-content {
            @include small-tablet{
                display: flex;
                flex-direction: column;
            }
        }

        &-title {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 120%;
            letter-spacing: 0.04em;
            margin-bottom: 1.2rem;

            @include small-tablet{
                font-size: 3.6rem;
                line-height: 120%;
                letter-spacing: 0.04em;
                margin-bottom: 1.6rem;
            }
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include small-tablet{
                flex-direction: column;
                align-items: flex-start;
                height: 100%;
            }

            &-link {
                @include small-tablet{
                    margin-top: auto;
                    justify-content: flex-start;
                }

                span {
                    font-weight: 700;
                }
            }

            &-text {
                @include small-tablet{
                    font-weight: 400;
                    font-size: 3rem;
                    line-height: 130%;
                }
            }
        }

        &-detailed {
            padding: 3.2rem;
            border-radius: 3rem;
            background-color: $light-green;
            height: 100%;
            color: $white;
            position: relative;
            z-index: 2;
            overflow: hidden;

            @include small-tablet{
                position: fixed;
                inset: 0;
                padding: 6.4rem 3.2rem;
                overflow: hidden scroll;
                transform: translateX(-100%);
                transition: .3s transform ease-out;
                z-index: 1001;
                border-radius: 0;

                &.--active {
                    transform: translateX(0);
                }

                &-back-button {
                    display: flex;
                    align-items: center;
                    gap: 3.2rem;
                    margin-bottom: 8rem;

                    svg {
                        @include sizes(4rem, 4rem);
                        opacity: .6;
                    }

                    span {
                        font-weight: 400;
                        font-size: 3rem;
                        line-height: 130%;
                        color: $white;
                        opacity: .6;
                    }
                }
            }

            &::after {
                @include pseudo {
                    background-image: url('./assets/images/sections/catalog/catalog-category-detailed-background.svg');
                    background-repeat: no-repeat;
                    right: -26.3rem;
                    bottom: 1rem;
                    width: 51.9rem;
                    height: 27.6rem;
                    z-index: -1;
                    background-size: contain;
                }
            }

            &-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 2.4rem;
                border-bottom: 0.1rem solid $white;
                margin-bottom: 2.4rem;
                width: 100%;

                @include small-tablet{
                    padding-bottom: 4rem;
                    margin-bottom: 4rem;
                }

                &-title {
                    font-weight: 500;
                    font-size: 2.4rem;
                    line-height: 120%;
                    letter-spacing: 0.04em;
                    color: $white;

                    @include small-tablet{
                        font-weight: 500;
                        font-size: 3.6rem;
                        line-height: 120%;
                        letter-spacing: 0.04em;
                    }
                }

                &-icon {
                    @include sizes(2.8rem, 2.8rem);

                    @include small-tablet{
                        @include sizes(4rem, 4rem);
                    }

                    svg {
                        width: 100%;
                        height: 100%;

                        path {
                            stroke: $white;
                        }
                    }
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                @include small-tablet{
                    gap: 3.2rem;
                }
            }

            &-item {
                a {
                    display: inline-block;
                    width: fit-content;

                    @include small-tablet{
                        font-weight: 400;
                        font-size: 3rem;
                        line-height: 130%;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
