.map {
    // .map__inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
    // .map__content
    &__content {
        width: 100%;
        height: 81.2rem;
        position: relative;

        @media (max-width: 48em) {
            height: auto;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            row-gap: 1.6rem;
            overflow: visible;
        }
    }
    // .map__canvas
    &__canvas {
        width: 100%;
        height: 100%;
        border-radius: 6rem;
        overflow: hidden;

        @media (max-width: 48em) {
            margin-bottom: 1.6rem;
            height: 70.2rem;
            border-radius: 4.8rem;
        }
    }
    // .map__wrapper
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        @media (min-width: 48em) {
            position: absolute;
            top: 0;
            right: 0;
            padding: 3.2rem;
            gap: 1.2rem;
        }
    }
    // .map__card
    &__card {
        width: 40rem;

        @media (max-width: 48em) {
            min-height: auto;
            border-radius: 4.8rem;
            flex: 1 1 auto;
            width: 100%;

            &:not(&.hover) {
                .map-card__content {
                    display: none;
                }
            }
        }
    }
}
.ymaps3x0--map-copyrights {
    display: none !important;
}

.map-card {
    &.hover {
        .map-card__wrapper {
            background-color: $light-green;
            color: $white;
        }
        .map-card__header {
            h6,
            p {
                color: $white;
            }
        }
        .map-card__content-icon {
            svg path {
                fill: $white;
            }
        }
        .map-card__footer {
            display: block;
        }
    }
    // .map-card__wrapper
    &__wrapper {
        padding: 3.2rem;
        background-color: $white;
        border-radius: 2.4rem;

        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        @media (max-width: 48em) {
            padding: 4.8rem 3.2rem;
            gap: 3.2rem;
            border-radius: 4.8rem;
            box-shadow: 0 0 2.2rem rgba(1, 28, 3, 0.12);
        }
    }
    // .map-card__header
    &__header {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        line-height: 120%;

        @media (max-width: 48em) {
            gap: 0.8rem;
        }

        h6 {
            font-weight: 600;
            font-size: 2rem;
            letter-spacing: 0.04em;
            color: $black-secondary;

            @media (max-width: 48em) {
                font-size: 3.6rem;
                font-weight: 500;
            }
        }

        p {
            font-weight: 400;
            font-size: 1.6rem;
            color: $black-secondary;

            @media (max-width: 48em) {
                font-size: 3rem;
            }
        }
    }
    // .map-card__content
    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        @media (max-width: 48em) {
            gap: 1.6rem;
        }
    }
    // .map-card__content-item
    &__content-item {
        display: flex;
        align-items: center;
        gap: 1.7rem;

        @media (max-width: 48em) {
            gap: 3.6rem;
        }
    }
    // .map-card__content-icon
    &__content-icon {
        width: 2.8rem;
        height: 2.8rem;
        flex-shrink: 0;

        svg path {
            fill: $black-secondary;
        }

        @media (max-width: 48em) {
            width: 6rem;
            height: 6rem;
        }
    }
    // .map-card__footer
    &__footer {
        display: none;
        position: relative;
    }
    // .map-card__button
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        border-radius: 5rem;
        padding: 1.4rem 2.4rem;
        height: 5.6rem;
        width: 100%;
        background-color: $white;
        position: relative;
        z-index: 8;
        visibility: hidden;

        transition: visibility 0s ease 1s;

        .hover & {
            visibility: visible;
        }

        span {
            color: $black-secondary;
            flex-shrink: 0;
        }

        svg {
            width: 2.8rem;
            height: 2.8rem;
        }

        .phone {
            margin-right: 1rem;
        }

        @media (max-width: 48em) {
            padding: 1.6rem 4rem;
            height: 8.8rem;
            border-radius: 10rem;

            svg {
                width: 6rem;
                height: 6rem;
            }
        }
    }
    // .map-card__list
    &__list {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 8;
        display: none;
        @media (max-width: 48em) {
            top: 102%;
        }
        ._is-active & {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            background-color: $white;
            border-radius: 2.4rem;

            border: 1px solid $green;
            padding: 4.8rem 2rem 2rem 2rem;
            width: 100%;
            z-index: 6;
            @media (max-width: 48em) {
                padding: 3.2rem 2.4rem;
            }

            li {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
            }

            span {
                font-weight: 400;
                line-height: 120%;
                color: $grey-text;

                @media (max-width: 48em) {
                    font-size: 3.2rem;
                }
            }

            a {
                font-weight: 400;
                font-size: 1.8rem;
                color: $black-secondary;

                @media (max-width: 48em) {
                    font-size: 3rem;
                }
            }
        }
    }
}

.marker {
    width: fit-content;
    cursor: pointer;

    &__content {
        will-change: transition;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        transition: all 0.4s ease-in-out;
        background-color: #fff;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;

        @media (min-width: 48em) {
            border-radius: 10rem;
            padding-right: 1.6rem;
            justify-content: stretch;
            width: 100%;
            height: auto;
        }
    }
    &__text {
        width: 100%;
        font-size: 1.6rem;
        line-height: 120%;
        color: $black-secondary;

        white-space: nowrap;
        overflow: hidden;
        transition: all 0.4s ease-in-out;

        @media (max-width: 48em) {
            display: none;
        }
    }
    &__svg {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 5rem;
        height: 5rem;
        transition: all 0.4s ease-in-out;
        img {
            width: 3.5rem;
            height: 3rem;
            transition: all 0.4s ease-in-out;

            @media (max-width: 48em) {
                width: 5rem;
                height: 5rem;
            }
        }
    }
    &.hover {
        .marker__content {
            width: 12rem;
            height: 12rem;

            @media (min-width: 48em) {
                width: 8rem;
                height: auto;
                gap: 0;
                justify-content: center;
                padding: 1.6rem 0;
            }
        }
        .marker__svg {
            width: 5.653rem;
            height: 4.8rem;
            img {
                width: 100%;
                height: 100%;
            }
            @media (max-width: 48em) {
                width: 8rem;
                height: 8rem;
            }
        }
        .marker__text {
            width: 0%;
        }
    }
}
