.payment {
    &__content {
        .tabs {
            max-width: 100%;
            margin: 0;
            position: relative;

            &__navigation {
                display: flex;
                flex-direction: column;
                gap: 0;
                justify-content: initial;
                margin-bottom: 0;
                position: absolute;
                left: 0;
                top: 0;
                max-width: 47rem;
                width: 100%;

                @include small-tablet{
                    display: none;
                }

                .tabs__title {
                    max-width: 39rem;
                    width: 100%;
                    padding: 0.6rem;
                    border-radius: 10rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    transition: 0.3s background ease-out;

                    &._is-active {
                        background: $light-green;

                        span {
                            color: $white;

                            svg {
                                path {
                                    fill: $pink;
                                }
                            }

                            &:first-child {
                                background: $white;
                            }
                        }
                    }

                    @include hover {
                        background: $light-green;

                        span {
                            color: $white;

                            svg {
                                path {
                                    fill: $pink;
                                }
                            }

                            &:first-child {
                                background: $white;
                            }
                        }
                    }

                    span {
                        transition:
                            0.3s color ease-out,
                            0.3s background ease-out;
                    }

                    svg {
                        path {
                            transition: 0.3s fill ease-out;
                        }
                    }
                }
            }

            &__content {
                max-width: 96.3rem;
                width: 100%;
                margin-left: auto;
                padding-top: 1.7rem;

                ol,
                ul {
                    display: flex;
                    flex-direction: column;
                    font-size: 1.8rem;
                    line-height: 140%;
                    padding-left: 2.5rem;
                    margin: 0 0 1rem;

                    @include small-tablet{
                        font-size: 3rem;
                        line-height: 130%;
                        padding-left: 5rem;
                    }

                    .shipping-page & {
                        margin-bottom: 4rem;
                    }
                }

                p {
                    font-size: 1.8rem;
                    line-height: 140%;

                    @include small-tablet{
                        font-size: 3rem;
                        line-height: 130%;
                    }
                }
            }
        }
    }

    &__title {
        margin-bottom: 5rem;

        @include small-tablet{
            display: none;
        }
    }

    &__tabs {
        &-title {
            display: block;
            margin-bottom: 4rem;

            @include small-tablet{
                margin-bottom: 2rem;
            }

            &:not(:first-of-type) {
                margin-top: 6rem;
            }
        }

        &-subtitle {
            display: block;
            margin-bottom: 1rem;
            font-size: 1.8rem;
            line-height: 140%;

            @include small-tablet{
                font-size: 3rem;
                line-height: 130%;
                margin-bottom: 2rem;
            }
        }

        &-banner {
            position: relative;
            height: 46.4rem;
            border-radius: 6rem;
            background-color: $light-green;
            margin-top: 6rem;
            overflow: hidden;

            @include small-tablet{
                height: 34rem;
                border-radius: 4.4rem;
                margin-top: 8rem;
            }

            &::after {
                @include pseudo {
                    background-image: url('./assets/images/sections/payment/decor-element-1.svg');
                    left: 0.5rem;
                    top: 0.1rem;
                    z-index: 3;
                    width: 34.4rem;
                    height: 20.1rem;

                    @include small-tablet{
                        left: 0.5rem;
                        top: 0.1rem;
                        width: 25rem;
                        height: 14rem;
                        background-image: url('./assets/images/sections/payment/decor-element-1-mobile.svg');
                    }
                }
            }

            &::before {
                @include pseudo {
                    background-image: url('./assets/images/sections/payment/decor-element-2.svg');
                    width: 34.4rem;
                    height: 20.1rem;
                    bottom: -1rem;
                    right: -10.9rem;
                    z-index: 3;

                    @include small-tablet{
                        bottom: 0rem;
                        right: 0.1rem;
                        width: 17.5rem;
                        height: 14.8rem;
                        background-image: url('./assets/images/sections/payment/decor-element-2-mobile.svg');
                    }
                }
            }

            &-content {
                position: relative;
                z-index: 1;

                &::after {
                    @include pseudo {
                        border-radius: 50%;
                        background-color: $white;
                        opacity: 0.2;
                        @include sizes(73.1rem, 73.3rem);
                        left: -32.9rem;
                        bottom: -93.2rem;
                        z-index: -1;

                        @include small-tablet{
                            @include sizes(45rem, 38rem);
                            left: -17rem;
                            bottom: -55rem;
                        }
                    }
                }

                &::before {
                    @include pseudo {
                        border-radius: 50%;
                        background-color: $white;
                        opacity: 0.2;
                        @include sizes(73.1rem, 73.3rem);
                        top: -48.4rem;
                        right: -22.7rem;
                        z-index: -1;

                        @include small-tablet{
                            @include sizes(53rem, 53rem);
                            right: -16rem;
                            top: -34rem;
                        }
                    }
                }
            }

            &-image {
                position: absolute;
                @include sizes(73.6rem, 66.4rem);
                z-index: 3;
                animation: car-drive 1s forwards;
                animation-delay: 0.3s;
                right: -25.5rem;
                top: -25rem;

                @include small-tablet{
                    @include sizes(53.4rem, 48.4rem);
                    right: -18rem;
                    top: -18rem;
                }

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}

@keyframes car-drive {
    to {
        transform: translate(-31rem, 9rem);

        @include small-tablet{
            transform: translate(-24rem, 5rem);
        }
    }
}

@include small-tablet{
    @keyframes car-drive {
        to {
            transform: translate(-24rem, 5rem);
        }
    }
}
