.placing-an {
    background:rgb(244, 244, 244);
    padding: 5rem;
    border-radius: 2.4rem;
    @media (max-width: 48em) {
        border-radius: 4.8rem;
        padding: 4.8rem 3.2rem;
     }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.4rem;
        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
        }
    }

    &__prev {
        color: green;
        position: relative;
        padding-left: 3.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        @media (max-width: 48em) {
            font-size: 3rem;
            padding-left: 3.6rem;
        }
        &::before {
            position: absolute;
            content:'';
            width: 2rem;
            height: 2rem;
            left: 0;
            background-image: url(../assets/images/sections/placing-an/prev.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @media (max-width: 48em) {
                width: 3rem;
                height: 3rem;
                top: 0.2rem;
            }
        }
    }

    &__add {
        color: green;
        position: relative;
        padding-right: 2.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        @media (max-width: 48em) {
            font-size: 3rem;
            padding-right: 3.6rem;
        }
        &::before {
            position: absolute;
            content:'';
            width: 2rem;
            height: 2rem;
            right: 0;
            background-image: url(../assets/images/sections/placing-an/plus.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;

            @media (max-width: 48em) { 
                width: 3rem;
                height: 3rem;
                top: 0.2rem;
            }
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        padding: 2.4rem 3.2rem;
        background-color: $white;
        border-radius: 10rem;
        width: 103.9rem;
        margin-bottom: 2rem;
       
        @media (max-width: 48em) {
            width: 100%;
            flex-direction: column;
            margin-bottom: 4rem;
            border-radius: 4.8rem;
         }
        &-btn {
            font-size: 2rem;
            font-weight: 600;
            position: relative;
            padding-right: 2rem;
            @media (max-width: 48em) {
                margin-bottom: 2rem;
                font-size: 3.2rem;
             }
            &::after {
                position: absolute;
                content:'';
                width: 2rem;
                height: 2rem;
                background-image: url(../assets/images/sections/placing-an/caran.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                right: 0;
                top: 0.3rem;
                @media (max-width: 48em) {
                    width: 3rem;
                    height: 3rem;
                 }
            }
        }

        &-link {
            color:rgb(34, 97, 78);
            font-size: 1.6rem;
            font-weight: 400;
            position: relative;
            padding-right: 3rem;
            @media (max-width: 48em) {
                font-size: 3.2rem;
                width: fit-content;
                padding-right: 4rem;
             }
            &::after {
                position: absolute;
                content:'';
                width: 2rem;
                height: 2rem;
                background-repeat: no-repeat;
                background-image: url(../assets/images/sections/placing-an/arrow.svg);
                background-size: 100% 100%;
                right: 0;
                @media (max-width: 48em) {
                    width: 3rem;
                    height: 3rem;
                    top: 0.6rem;
                }
            }
        }
    }

   

    &__box:last-child {
        margin-bottom: 0;
    }
}