.popular {
    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;

        @media (max-width: 48em) {
            .link {
                margin: 0;
                justify-content: flex-end;
                width: auto;

                span {
                    display: none;
                }

                svg path {
                    fill: $green;
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__cards {
        @media (min-width: 48em) {
            &.swiper-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 4rem;
                row-gap: 6rem;
            }
        }
    }
    &__btn {
        background-image: url(./assets/images/sections/popular-card/btn.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 53.3rem;
        height: 59.3rem;
        border-radius: 3rem;
        padding: 4rem;

        @media (max-width: 48em) {
            display: none;
        }

        &-text {
            font-size: 1.6rem;
            color: $white;
            margin-bottom: 15.6rem;
        }

        &-b-image {
            position: relative;
            width: 14.9rem;
            height: 16.6rem;
            margin-bottom: 3.2rem;
        }

        &-image {
            position: absolute;
            z-index: 2;
            width: 13.3rem;
            height: 14.4rem;
            top: 0;
        }

        &-circle {
            position: absolute;
            bottom: 0;
            z-index: 1;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            width: 14.9rem;
            height: 14.9rem;
            opacity: 0.1;
        }

        &-title {
            font-size: 4rem;
            font-weight: 600;
            margin-bottom: 0.6rem;
            color: $white;
        }

        &-arrow {
            width: 9rem;
            height: 9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $pink;
            border-radius: 50%;
            border: 1px solid $white;
            margin-left: auto;
            svg {
                width: 5rem;
                height: 5rem;
            }
        }
    }
}
