.pricing {
    &__title {
        margin-bottom: 5rem;
    }

    &__contacts {
        padding: 3.2rem;
        border-radius: 3rem;
        background-color: $light-green;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
        margin-top: 4rem;
        position: relative;
        overflow: hidden;

        &::after {
            @include pseudo {
                @include sizes(79.2rem, 64.4rem);
                border-radius: 50%;
                left: -32.8rem;
                top: -42.4rem;
                z-index: 0;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        &::before {
            @include pseudo {
                @include sizes(63.8rem, 64.4rem);
                border-radius: 50%;
                right: -16.2rem;
                bottom: -41.3rem;
                z-index: 0;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        &-text {
            max-width: 55.6rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            position: relative;
            z-index: 2;
        }

        &-list {
            display: flex;
            align-items: center;
            gap: 8rem;
            position: relative;
            z-index: 2;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            &-icon {
                width: 8rem;
                height: 8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                border-radius: 50%;

                img {
                    width: 4rem;
                    height: 4rem;
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
        }
    }
}
