<section class="mission">
    <div class="container">
        <div class="mission__content">
            <div class="mission__info">
                <div class="mission__info-text">
                    <h2 class="mission__title h h_h1">
                        Миссия нашей компании
                    </h2>

                    <p class="mission__description">
                        Вас когда-нибудь посещала мысль, что «упаковка слишком вычурная», «ассортимент скудный», а «качество оставляет желать лучшего»?  Если да — мы определённо подружимся!
                    </p>
                    <p class="mission__description">
                        Наша уютная команда профессионалов не только разгрузит Ваши плечи  от тяжести соотношения цены и качества, но и добавит весомое преимущество в виде широкого ассортимента, ведь наша философия:
                    </p>

                    <blockquote cite="" class="mission__blockquote">
                        <p>«Внимание к мелочам рождает совершенство, а совершенство — это уже не мелочь» </p>
                        <footer>Микеланджело Буонарроти.</footer>
                    </blockquote>
                </div>
            </div>


            <div class="mission__poster">
                <figure class="mission__poster-image">
                    <img src="../assets/images/sections/about/about-mission-image.png" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>