<section class="about">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">О компании</span>
        </nav>
        <div class="about__content">
            <div class="about__text">
                <h1 class="about__title h h_h1">
                    Миррэй — многолетний опыт  и сотни довольных клиентов
                </h1>
                
                <p class="about__description ">
                    Компания Миррэй более 10 лет является крупнейшим и ведущим поставщиком товаров для флористов. Популярность организации обусловлена широким ассортиментом, высокой клиентоориентированностью и низкими ценами на высококачественный товар.
                </p>
                <p class="about__description ">
                    Мы предлагаем широкий ассортимент продукции, необходимой для создания прекрасных цветочных композиций и оформления. Благодаря многолетнему опыту и прочным связям с ведущими производителями, мы гарантируем высокое качество товаров и конкурентные цены для наших клиентов.
                </p>
                <p class="about__description ">
                    Основные направления: упаковка для цветов и подарков, корзины и плетеные изделия, лента, коробки подарочные, пакеты, новогодний декор, флористическая пена и другие товары для флористов. Охватывает клиентскую базу по всей России и СНГ.
                </p>
                <p class="about__description ">
                    Миррэй тщательно относится к выбору поставщиков и сотрудничает только с крупными производителями, обладающими высокой производственной экспертизой. Это не только лучшие производственные площадки, но и лучшие флористические дизайнеры, законодатели моды в отрасли из Китая, Кореи, Вьетнама, Германии, Польши, Италии, а также отечественные поставщики
                </p>
            </div>
            
            <figure class="about__image">
                <img src="./assets/images/sections/about/about-image.png" alt="">
            </figure>
        </div>
    </div>
</section>