<section class="task">
    <div class="container">
        <div class="task__content">
            <div class="task__info">
                <h2 class="task__title h h_h1">Наша задача</h2>

                <p class="task__description">
                    Наша задача — установить долгосрочное сотрудничество  с нашими клиентами, поэтому мы
                    обращаем внимание  на такие «мелочи» как:
                </p>

                <ul class="task__info-list">
                    <li class="task__info-item">
                        <figure class="task__info-item-icon">
                            <img src="./assets/images/sections/task/task-item-icon-1.svg" alt="" />
                        </figure>

                        <p class="task__info-item-title">Индивидуальный подход к каждому клиенту</p>
                    </li>
                    <li class="task__info-item">
                        <figure class="task__info-item-icon">
                            <img src="./assets/images/sections/task/task-item-icon-2.svg" alt="" />
                        </figure>

                        <p class="task__info-item-title">Скорость оформления заказа</p>
                    </li>
                    <li class="task__info-item">
                        <figure class="task__info-item-icon">
                            <img src="./assets/images/sections/task/task-item-icon-3.svg" alt="" />
                        </figure>

                        <p class="task__info-item-title">Скорость сборки заказа</p>
                    </li>
                    <li class="task__info-item">
                        <figure class="task__info-item-icon">
                            <img src="./assets/images/sections/task/task-item-icon-4.svg" alt="" />
                        </figure>

                        <p class="task__info-item-title">
                            Оперативность доставки заказа  до Вас или до транспортной компании
                        </p>
                    </li>
                </ul>
            </div>

            <figure class="task__image">
                <img src="./assets/images/sections/task/task-image.png" alt="">
            </figure>

            <div class="task__promotion">
                <div class="task__promotion-text">
                    <span class="task__promotion-title">
                        Обратитесь к нам!
                    </span>

                    <p class="task__promotion-description text__regular-18">
                        Мы поможем Вам создать впечатляющую флористическую атмосферу с помощью наших качественных и разнообразных товаров!
                    </p>

                    <button class="task__promotion-button btn">
                        Заказать звонок
                    </button>
                </div>

                <figure class="task__promotion-image">
                    <img src="./assets/images/sections/task/task-promotion-image.png" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
