<section class="about-director">
    <div class="container">
        <div class="about-director__wrapper">
            <div class="about-director__content">
                <div class="about-director__image">
                    <img src="./assets/images/sections/about/rukovoditel.png" alt="">
                </div>
                <div class="about-director__block"></div>
            </div>
            <div class="about-director__text">
                <div class="about-director__text-title">
                    <strong>Соловьева Елена Васильевна</strong>
                    <span>Генеральный директор «МИРРЭЙ» </span>
                </div>
                <p>С 2014 года обеспечиваем наших клиентов широким ассортиментом актуальной продукции на самых выгодных условиях</p>
            </div>
        </div>
    </div>
</section>