<section class="about-description">
    <div class="container">
        <div class="about-description__wrapper">
            <div class="about-description__image">
                <img src="./assets/images/sections/about/img2.png" alt="">
            </div>
            <div class="about-description__content">
                <div class="about-description__title">Несколько слов о Миррэй</div>
                <div class="about-description__text">
                    <div class="about-description__text-content">
                        <p>Компания Миррэй более 9 лет является крупнейшим и ведущим поставщиком товаров для флористов. Популярность организации обусловлена широким ассортиментом, высокой клиентоориентированностью и низкими ценами на высококачественный товар.</p>
                        <p>Мы предлагаем широкий ассортимент продукции, необходимой для создания прекрасных цветочных композиций и оформления. Благодаря многолетнему опыту и прочным связям с ведущими производителями, мы гарантируем высокое качество товаров и конкурентные цены для наших клиентов.</p>
                        <p>Основные направления: упаковка для цветов и подарков, корзины и плетеные изделия, лента, коробки подарочные, пакеты, новогодний декор, флористическая пена и другие товары для флористов. Охватывает клиентскую базу по всей России и СНГ.</p>
                        <p>Миррэй тщательно относится к выбору поставщиков и сотрудничает только с крупными производителями, обладающими высокой производственной экспертизой. Это не только лучшие производственные площадки, но и лучшие флористические дизайнеры, законодатели моды в отрасли из Китая, Кореи, Вьетнама, Германии, Польши, Италии, а также отечественные поставщики.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>