<section class="about-mission">
    <div class="container">
        <div class="about-mission__wrapper">
            <div class="about-mission__left">
                <div class="about-mission__title h h_2">Миссия нашей компании</div>
                <div class="about-mission__text">
                    <p>Вас когда-нибудь посещала мысль, что «упаковка слишком вычурная», «ассортимент скудный», а «качество оставляет желать лучшего»? Если да — мы определённо подружимся!</p>
                    <p>Наша уютная команда профессионалов не только разгрузит Ваши плечи от тяжести соотношения цены и качества, но и добавит весомое преимущество в виде широкого ассортимента, ведь наша философия:</p>
                </div>
            </div>
            <div class="about-mission__right">
                <div class="about-mission__image">
                    <img src="./assets/images/sections/about/img3.png" alt="">
                </div>
                <div class="about-mission__block-wrap">
                    <div class="about-mission__block">
                        <strong>Внимание к мелочам рождает совершенство, а совершенство — это уже не мелочь.</strong>
                        <span>© Микеланджело Буонарроти</span>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>