<section class="about-main">
    <div class="container">
        <div class="about-main__wrapper">
            <div class="about-main__left">
                <h1 class="about-main__title h h_2">Оптовые покупатели выбирают Миррэй</h1>
                <div class="about-main__text">Мы не просто поставляем вам цветы, но и гарантируем их свежесть, качество и надежность</div>
                <a href="#"  class="btn">
                    Подробнее
                </a>
            </div>
            <div class="about-main__content">
                <div class="about-main__offer">
                    <div class="about-main__offer-text">Мы предлагаем широкий ассортимент продукции, необходимой для создания цветочных композиций</div>
                    <button class="about-main__offer-btn btn btn__white"><span>Перейти в каталог</span></button>
                </div>
                <div class="about-main__image">
                    <img src="./assets/images/sections/about/img1.png" alt="">
                </div>
                <div class="about-main__exp">
                    <strong>9+ лет</strong>
                    <span>опыта на рынке</span>
                </div>
            </div>
        </div>
    </div>
</section>