<section class="about-task">
    <div class="container">
        <div class="about-task__wrapper">
            <div class="about-task__left">
                <div class="about-task__title h h_2">Наша задача —</div>
                <div class="about-task__span">установить долгосрочное сотрудничество с нашими клиентами, поэтому мы обращаем внимание на такие «мелочи» как:</div>
                <ul class="about-task__lists">
                    <li class="about-task__item">Индивидуальный подход к каждому клиенту</li>
                    <li class="about-task__item">Скорость оформления заказа</li>
                    <li class="about-task__item">Скорость сборки заказа</li>
                    <li class="about-task__item">Оперативность доставки заказа до Вас или до транспортной компании</li>
                </ul>
            </div>
            <div class="about-task__right">
                <div class="about-task__image">
                    <img src="./assets/images/sections/about/end4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>