<section class="authorization">
    <div class="container">
        <div class="authorization__inner">
            <div class="authorization__info">
                <div class="authorization__text-wrap">
                    <h2 class="authorization__info-title h h_h1">Восстановление пароля</h2>
                    <p class="authorization__info-text text__regular-18">
                        Введите e-mail и мы отправим вам код для восстановления пароля
                    </p>
                </div>
                <form data-dev action="#" class="authorization__info-form password-recovery">
                    <div data-error="Ошибка" class="input text__regular-16">
                        <input
                            data-validate
                            data-required
                            autocomplete="off"
                            type="email"
                            name="form[]"
                            placeholder="Почта"
                            class="input__field"
                        />
                    </div>
                    <div data-error="Ошибка" class="input text__regular-16">
                        <input
                            data-validate
                            data-required
                            autocomplete="off"
                            type="text"
                            name="form[]"
                            placeholder="Введите код"
                            class="input__field"
                        />
                    </div>

                    <div class="footer authorization">
                        <button type="submit" class="authorization__info-form-button form__btn btn">
                            Восстановить пароль
                        </button>
                    </div>
                </form>
            </div>
            <div class="authorization__poster">
                <img src="./assets/images/poster.png" alt="" />
            </div>
        </div>
    </div>
</section>
