<section class="articles">
  <div class="container">
    <nav class="breadcrumbs">
      <a href="#" class="breadcrumbs__txt">Главная</a>
      <span class="breadcrumbs__txt">Новости</span>
    </nav>

    <div class="articles__content">
      <h1 class="articles__title h h_h1">Новости</h1>

      <ul class="promotions__cards">
        <li>
          <a href="" class="promotions__card">
            <div class="promotions__card-info">
              <div class="promotions__card-heading">
                <time
                  class="promotions__card-date h h_h1"
                  datetime="13.12.2023"
                >
                  13.12.2023</time
                >

                <figure class="promotions__card-icon">
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.0003 7.99969L8 24"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24 14.0004V20.0005"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24.0001 7.99988H11.9999"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </figure>
              </div>

              <strong class="promotions__card-title"> Стили флористики </strong>

              <p class="promotions__card-description h h_h3">
                Флористика — это искусство создания красивых и гармоничных
                композиций из живых растений, цветов, веток и других
                растительных материалов. В ее основе лежит глубокое понимание
                цвета, формы и текстуры, а также умение сочетать их в уникальные
                ансамбли. Флористика является не только способом украшения
                пространства, но и позволяет выражать эмоции, передавать
                настроение и создавать атмосферу праздника. Это творческое
                ремесло требует не только профессиональных навыков, но и
                воображения, внимания к деталям и чувства прекрасного.
              </p>

              <button class="promotions__card-button btn _desktop-only">
                Подробнее
              </button>
            </div>

            <figure class="promotions__card-image">
              <img
                src="./assets/images/sections/promotions/promotion-card-image.png"
                alt=""
              />
            </figure>

            <button class="promotions__card-button btn _mobile-only">
              Подробнее
            </button>
          </a>
        </li>
        <li class="promotions__card --large">
          <figure class="promotions__card-image">
            <img
              src="./assets/images/sections/promotions/large-image.png"
              alt=""
              class="_desktop-only"
            />
            <img
              src="./assets/images/sections/promotions/large-image-mobile.png"
              alt=""
              class="_mobile-only"
            />
          </figure>

          <h2 class="promotions__card-title h h_h1">
            Коробки для цветов в ассортименте
          </h2>

          <p class="promotions__card-description">
            Огромный выбор подарочных коробок для цветов к 8 марта
          </p>

          <a href="#" class="promotions__card-link btn btn__white">
            В каталог
          </a>
        </li>
        <li>
          <a href="" class="promotions__card">
            <div class="promotions__card-info">
              <div class="promotions__card-heading">
                <time
                  class="promotions__card-date h h_h1"
                  datetime="13.12.2023"
                >
                  13.12.2023</time
                >

                <figure class="promotions__card-icon">
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.0003 7.99969L8 24"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24 14.0004V20.0005"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24.0001 7.99988H11.9999"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </figure>
              </div>

              <strong class="promotions__card-title"> Стили флористики </strong>

              <p class="promotions__card-description h h_h3">
                Флористика — это искусство создания красивых и гармоничных
                композиций из живых растений, цветов, веток и других
                растительных материалов. В ее основе лежит глубокое понимание
                цвета, формы и текстуры, а также умение сочетать их в уникальные
                ансамбли. Флористика является не только способом украшения
                пространства, но и позволяет выражать эмоции, передавать
                настроение и создавать атмосферу праздника. Это творческое
                ремесло требует не только профессиональных навыков, но и
                воображения, внимания к деталям и чувства прекрасного.
              </p>

              <button class="promotions__card-button btn _desktop-only">
                Подробнее
              </button>
            </div>

            <figure class="promotions__card-image">
              <img
                src="./assets/images/sections/promotions/promotion-card-image.png"
                alt=""
              />
            </figure>

            <button class="promotions__card-button btn _mobile-only">
              Подробнее
            </button>
          </a>
        </li>
        <li>
          <a href="" class="promotions__card">
            <div class="promotions__card-info">
              <div class="promotions__card-heading">
                <time
                  class="promotions__card-date h h_h1"
                  datetime="13.12.2023"
                >
                  13.12.2023</time
                >

                <figure class="promotions__card-icon">
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.0003 7.99969L8 24"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24 14.0004V20.0005"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24.0001 7.99988H11.9999"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </figure>
              </div>

              <strong class="promotions__card-title"> Стили флористики </strong>

              <p class="promotions__card-description h h_h3">
                Флористика — это искусство создания красивых и гармоничных
                композиций из живых растений, цветов, веток и других
                растительных материалов. В ее основе лежит глубокое понимание
                цвета, формы и текстуры, а также умение сочетать их в уникальные
                ансамбли. Флористика является не только способом украшения
                пространства, но и позволяет выражать эмоции, передавать
                настроение и создавать атмосферу праздника. Это творческое
                ремесло требует не только профессиональных навыков, но и
                воображения, внимания к деталям и чувства прекрасного.
              </p>

              <button class="promotions__card-button btn _desktop-only">
                Подробнее
              </button>
            </div>

            <figure class="promotions__card-image">
              <img
                src="./assets/images/sections/promotions/promotion-card-image.png"
                alt=""
              />
            </figure>

            <button class="promotions__card-button btn _mobile-only">
              Подробнее
            </button>
          </a>
        </li>
        <li>
          <a href="" class="promotions__card">
            <div class="promotions__card-info">
              <div class="promotions__card-heading">
                <time
                  class="promotions__card-date h h_h1"
                  datetime="13.12.2023"
                >
                  13.12.2023</time
                >

                <figure class="promotions__card-icon">
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.0003 7.99969L8 24"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24 14.0004V20.0005"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24.0001 7.99988H11.9999"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </figure>
              </div>

              <strong class="promotions__card-title"> Стили флористики </strong>

              <p class="promotions__card-description h h_h3">
                Флористика — это искусство создания красивых и гармоничных
                композиций из живых растений, цветов, веток и других
                растительных материалов. В ее основе лежит глубокое понимание
                цвета, формы и текстуры, а также умение сочетать их в уникальные
                ансамбли. Флористика является не только способом украшения
                пространства, но и позволяет выражать эмоции, передавать
                настроение и создавать атмосферу праздника. Это творческое
                ремесло требует не только профессиональных навыков, но и
                воображения, внимания к деталям и чувства прекрасного.
              </p>

              <button class="promotions__card-button btn _desktop-only">
                Подробнее
              </button>
            </div>

            <figure class="promotions__card-image">
              <img
                src="./assets/images/sections/promotions/promotion-card-image.png"
                alt=""
              />
            </figure>

            <button class="promotions__card-button btn _mobile-only">
              Подробнее
            </button>
          </a>
        </li>
        <li>
          <a href="" class="promotions__card">
            <div class="promotions__card-info">
              <div class="promotions__card-heading">
                <time
                  class="promotions__card-date h h_h1"
                  datetime="13.12.2023"
                >
                  13.12.2023</time
                >

                <figure class="promotions__card-icon">
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.0003 7.99969L8 24"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24 14.0004V20.0005"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24.0001 7.99988H11.9999"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </figure>
              </div>

              <strong class="promotions__card-title"> Стили флористики </strong>

              <p class="promotions__card-description h h_h3">
                Флористика — это искусство создания красивых и гармоничных
                композиций из живых растений, цветов, веток и других
                растительных материалов. В ее основе лежит глубокое понимание
                цвета, формы и текстуры, а также умение сочетать их в уникальные
                ансамбли. Флористика является не только способом украшения
                пространства, но и позволяет выражать эмоции, передавать
                настроение и создавать атмосферу праздника. Это творческое
                ремесло требует не только профессиональных навыков, но и
                воображения, внимания к деталям и чувства прекрасного.
              </p>

              <button class="promotions__card-button btn _desktop-only">
                Подробнее
              </button>
            </div>

            <figure class="promotions__card-image">
              <img
                src="./assets/images/sections/promotions/promotion-card-image.png"
                alt=""
              />
            </figure>

            <button class="promotions__card-button btn _mobile-only">
              Подробнее
            </button>
          </a>
        </li>
        <li>
          <a href="" class="promotions__card">
            <div class="promotions__card-info">
              <div class="promotions__card-heading">
                <time
                  class="promotions__card-date h h_h1"
                  datetime="13.12.2023"
                >
                  13.12.2023</time
                >

                <figure class="promotions__card-icon">
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.0003 7.99969L8 24"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24 14.0004V20.0005"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M24.0001 7.99988H11.9999"
                      stroke="#E29AA8"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </figure>
              </div>

              <strong class="promotions__card-title"> Стили флористики </strong>

              <p class="promotions__card-description h h_h3">
                Флористика — это искусство создания красивых и гармоничных
                композиций из живых растений, цветов, веток и других
                растительных материалов. В ее основе лежит глубокое понимание
                цвета, формы и текстуры, а также умение сочетать их в уникальные
                ансамбли. Флористика является не только способом украшения
                пространства, но и позволяет выражать эмоции, передавать
                настроение и создавать атмосферу праздника. Это творческое
                ремесло требует не только профессиональных навыков, но и
                воображения, внимания к деталям и чувства прекрасного.
              </p>

              <button class="promotions__card-button btn _desktop-only">
                Подробнее
              </button>
            </div>

            <figure class="promotions__card-image">
              <img
                src="./assets/images/sections/promotions/promotion-card-image.png"
                alt=""
              />
            </figure>

            <button class="promotions__card-button btn _mobile-only">
              Подробнее
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
