<section class="banner">
    <div class="container">
        <div class="banner__content">
            <div class="banner__info">
                <div class="banner__info-text">
                    <h2 class="banner__title h h_h1">У нас самые низкие цены для вас!</h2>

                    <p class="banner__description text__regular-18">
                        Получите индивидуальное предложение по нашему прайсу! Свяжитесь с нами сегодня, чтобы
                        получить подробную информацию.
                    </p>

                    <button class="banner__button btn btn__white">Получить предложение</button>
                </div>

                <div class="banner__info-offer">
                    <strong class="banner__info-offer-title h h_h2"> 100+ </strong>

                    <p class="banner__info-offer-subtitle text__regular-16">товаров в каталоге</p>
                </div>
            </div>

            <figure class="banner__poster">
                <img src="./assets/images/sections/banner/banner-poster.png" alt="" />
            </figure>
        </div>
    </div>
</section>
