<section class="banner">
    <div class="container">
        <div class="banner__content">
            <div class="banner__info">
                <h2 class="banner__title">У нас самые низкие цены для вас!</h2>

                <p class="banner__description">
                    Получите индивидуальное предложение по нашему прайсу! Свяжитесь с нами сегодня, чтобы
                    получить подробную информацию.
                </p>

                <button class="banner__button">Получить предложение</button>

                <div class="banner__info-offer">
                    <strong class="banner__info-offer-title"> 100+ </strong>

                    <p class="banner__info-offer-subtitle">товаров в каталоге</p>
                </div>
            </div>

            <figure class="banner__poster">
                <img src="./assets/images/sections/banner/banner-poster.png" alt="" />
            </figure>
        </div>
    </div>
</section>
