<section class="basket">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Корзина</span>
        </nav>

        <div class="basket__content">
            <h1 class="favorites__title h h_h1">Моя корзина</h1>

            <p class="favorites__subtitle text__regular-20">
                Корзина пуста, перейдите в каталог, чтобы продолжить покупки.
            </p>

            <a href="#" class="favorites__link btn"> Перейти в каталог </a>
        </div>
    </div>
</section>
