<section class="benefits">
    <div class="container">
        <div class="benefits__content">
            <div class="benefits__text">
                <h2 class="benefits__title h h_h1">Дополнительная выгода на мелкооптовые заказы</h2>

                <p class="benefits__description text__regular-18">
                    Для мелкооптовых заказов на общую сумму <strong>до 100 000 рублей</strong> по оптовому
                    прайсу, существует также <span>отдельная скидочная система</span>:
                </p>
            </div>

            <ul class="benefits__list">
                <li class="benefits__item">
                    <strong class="benefits__item-discard h h_h3"> 5% </strong>

                    <p class="benefits__item-text">от 15 000 до 30 000 рублей</p>
                </li>
                <li class="benefits__item">
                    <strong class="benefits__item-discard h h_h3"> 6%</strong>

                    <p class="benefits__item-text">30 000 до 40 000 рублей</p>
                </li>
                <li class="benefits__item">
                    <strong class="benefits__item-discard h h_h3"> 7% </strong>

                    <p class="benefits__item-text">от 40 000 до 50 000 рублей</p>
                </li>
                <li class="benefits__item">
                    <strong class="benefits__item-discard h h_h3"> 8% </strong>

                    <p class="benefits__item-text">от 50 000 до 100 000 рублей</p>
                </li>
            </ul>
        </div>
    </div>
</section>
