<section class="catalog">
    <div class="container">
        <div class="catalog__content">
            <nav class="breadcrumbs">
                <a href="#" class="breadcrumbs__txt">Главная</a>
                <span class="breadcrumbs__txt">Каталог</span>
            </nav>

            <h1 class="catalog__title h h_h1">Каталог</h1>

            <div class="catalog__banner">
                <div class="catalog__banner-text">
                    <span class="catalog__banner-subtitle text__regular-16-caps">
                        ПАКЕТЫ В АССОРТИМЕНТЕ
                    </span>

                    <h2 class="catalog__banner-title h h_h2">
                        Большой ассортимент подарочных пакетов. Хиты и новинки от 25,10 руб
                    </h2>
                </div>

                <figure class="catalog__banner-poster">
                    <img src="./assets/images/sections/catalog/banner-image.png" alt="" />
                </figure>
            </div>

            <ul class="catalog__cards">
                <li class="catalog__card-detailed">
                    <a href="#" class="catalog__card-detailed-heading">
                        <span class="catalog__card-detailed-heading-title">
                            Новогодние украшения
                        </span>

                        <figure class="catalog__card-detailed-heading-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 10.2496L3 10.2496" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.3745 12.875L11.7495 15.5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M17 10.2501L11.75 5.00012" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </figure>
                    </a>

                    <ul class="catalog__card-detailed-list">
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Новогодние открытки
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Ветки, вставки (топперы)
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Гирлянды
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Новогодний декор
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Изделия из перьев
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Искусственные ёлки
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Новогодние цветы
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Хрустальные подвески
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Декоративные подвески
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Ёлочные игрушки
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Новогодние пакеты
                            </a>
                        </li>
                        <li class="catalog__card-detailed-item">
                            <a href="#" class="link text__regular-18">
                                Новогодняя лента, банты
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-1.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-2.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-3.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-4.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-5.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-6.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-7.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-8.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-9.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-10.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="catalog__card" href="#">
                        <figure class="catalog__card-image">
                            <img src="../assets/images/sections/catalog/catalog-image-11.png" alt="" />
                        </figure>

                        <p class="catalog__card-title">Корзины и плетеные изделия</p>

                        <div class="catalog__card-info">
                            <span class="catalog__card-info-text text__regular-16"> Более 100 товаров </span>

                            <div class="catalog__card-info-link link">
                                <span>Смотреть все</span>

                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.0002 4.99981L5 15" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 8.74993V12.5" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
