<section class="consultation">
    <div class="container">
        <div class="consultation__content">
            <div class="consultation__info">
                <h2 class="consultation__info-title h h_h1">Нужна консультация?</h2>

                <p class="consultation__info-text text__regular-18">
                    Оставьте свои данные, и наш менеджер перезвонит вам в ближайшее время
                </p>

                <form data-dev action="#" class="consultation__info-form">
                    <div class="input text__regular-16">
                        <input
                            id="name"
                            data-validate
                            data-required
                            autocomplete="off"
                            type="text"
                            name="form[]"
                            placeholder="Ваше имя"
                            class="input__field"
                        />
                        <label for="name" class="input__label" data-hint="*Заполните поле"></label>
                    </div>

                    <div class="input text__regular-16">
                        <input
                            id="phone"
                            data-tel-mask
                            data-validate
                            data-required
                            autocomplete="off"
                            type="tel"
                            name="form[]"
                            placeholder="Ваш телефон"
                            class="input__field"
                        />
                        <label for="phone" class="input__label" data-hint="*Заполните поле"></label>
                    </div>

                    <div class="input text__regular-16 textarea">
                        <textarea
                            id="text-field"
                            data-validate
                            data-required
                            autocomplete="off"
                            name="form[]"
                            placeholder="Ваш вопрос"
                            class="input__field"
                        ></textarea>
                        <label for="text-field" class="input__label" data-hint="*Заполните поле"></label>
                    </div>

                    <button type="submit" class="consultation__info-form-button form__btn btn">
                        Отправить
                    </button>
                </form>
            </div>

            <div class="consultation__poster">

            </div>
        </div>
    </div>
</section>
