<section class="cooperation">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Сотрудничество</span>
        </nav>

        <h1 class="cooperation__title h h_h1">Условия сотрудничества</h1>

        <div class="cooperation__content">
            <div class="cooperation__text">
                <p class="cooperation__description text__regular-18">
                    Компания Миррэй предоставляет возможность оформления заказа по самым выгодным ценам
                    товаров для флористов полного спектра как физическим, так и юридическим лицам и
                    индивидуальным предпринимателям. Мы позаботились о том, чтобы каждый клиент мог оформить
                    заказ удобным ему способом и получить максимально низкую цену закупа, в зависимости от
                    потребности и объема отгрузки.
                </p>
                <p class="cooperation__description text__regular-18">
                    Компания Миррэй работает только на основе договора сотрудничества с юридическими лицами
                    или индивидуальными предпринимателями, в том числе из Беларуси и Казахстана. Для его
                    заключения необходимо предоставить карточку с реквизитами предприятия. Наши специалисты
                    подготовят договор, проработают все замечания и предложения по документу в случае их
                    возникновения.
                </p>
                <p class="cooperation__description text__regular-18">
                    Оформить заказ можно любым удобным для покупателя способом: на сайте, по цветным и
                    информативным фото-прайсам, которые предоставляют наши специалисты по запросу или просто
                    обратиться к менеджеру отдела продаж, и он с готовностью примет ее. 
                </p>
                <p class="cooperation__description text__regular-18">
                    После согласования заказа наши менеджеры предоставят все необходимые документы для его
                    оплаты, сообщат о поступлении денежных средств и обсудят с покупателем оптимальный по
                    стоимости, скорости и удобству для клиента способ доставки или условия самовывоза с нашего
                    склада в Одинцово.
                </p>
                <p class="cooperation__description text__regular-18">
                    Для осуществления заказа на сумму менее 100 тысяч рублей, а также для приобретения нашего
                    товара поштучно от любого количества и суммы для Вашего удобства на территории торгового
                    комплекса «Фуд Сити» работает ежедневно оптово-розничный магазин. Цены в магазине чуть
                    выше, чем для крупного опта, но существует своя скидочная система. Подробности уточняйте у
                    продавцов на месте или по номеру телефона: +7 (968) 588-99-55.
                </p>
            </div>

            <aside class="cooperation__promotion">
                <div class="cooperation__promotion-top">
                    <div class="cooperation__promotion-block">
                        <p class="cooperation__promotion-block-subtitle h h_h4">
                            Работаем с физическими и юридическими лицами в том числе:
                        </p>

                        <h2 class="cooperation__promotion-block-title h h_h2">из Беларуси и Казахстана</h2>
                    </div>

                    <div class="cooperation__promotion-block --image">
                        <figure class="cooperation__promotion-block-image">
                            <img src="../assets/images/sections/cooperation/cooperation-image.png" alt="" />
                        </figure>
                    </div>
                </div>

                <div class="cooperation__promotion-card">
                   <div class="cooperation__promotion-card-text">
                       <p class="cooperation__promotion-card-description h h_h4">
                           Минимальная сумма оптового заказа по ценам с сайта:
                       </p>

                       <h3 class="cooperation__promotion-card-title h h_h2">100 тысяч рублей.</h3>
                   </div>
                </div>
            </aside>
        </div>
    </div>
</section>
