<section class="cooperation">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Сотрудничество</span>
        </nav>

        <h1 class="cooperation__title h h_h1">Условия сотрудничества</h1>

        <div class="cooperation__content">
            <div class="cooperation__text">
                <p class="cooperation__description text__regular-18">
                    Компания Миррэй предоставляет возможность оформления заказа по самым выгодным ценам
                    товаров для флористов полного спектра как физическим, так и юридическим лицам и
                    индивидуальным предпринимателям. 
                </p>
                <p class="cooperation__description text__regular-18">
                    Мы позаботились о том, чтобы каждый клиент мог оформить заказ удобным ему способом и
                    получить максимально низкую цену закупа, в зависимости от потребности и объема отгрузки.
                </p>
            </div>

            <aside class="cooperation__promotion">
                <div class="cooperation__promotion-top">
                    <div class="cooperation__promotion-block">
                        <p class="cooperation__promotion-block-subtitle h h_h4">
                            Работаем с физическими и юридическими лицами в том числе:
                        </p>

                        <h2 class="cooperation__promotion-block-title h h_h2">из Беларуси <br> и Казахстана</h2>
                    </div>

                    <div class="cooperation__promotion-block --image">
                        <figure class="cooperation__promotion-block-image">
                            <img src="./assets/images/sections/cooperation/cooperation-image.png" alt="" />
                        </figure>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
