<section class="favorites">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Избранное</span>
        </nav>

        <div class="favorites__content">
            <h1 class="favorites__title h h_h1">Избранное</h1>

            <p class="favorites__subtitle text__regular-20">
                Вы ничего не добавили в избранные товары, перейдите в каталог, чтобы продолжить покупки.
            </p>

            <a href="#" class="favorites__link btn"> Перейти в каталог </a>
        </div>
    </div>
</section>
