<section class="feature">
    <div class="container">
        <div class="feature__content">
            <figure class="feature__poster">
                <img src="../assets/images/sections/feature/poster-image.png" alt="" />
            </figure>

            <div class="feature__text">
                <h2 class="feature__title h h_h1">Оптовые и крупнооптовые заказы</h2>

                <p class="feature__description text__regular-18">
                    Компания Миррэй работает только на основе договора сотрудничества с физическими,
                    юридическими лицами или индивидуальными предпринимателями, в том числе из
                    <strong>Беларуси и Казахстана.</strong>
                </p>

                <p class="feature__description text__regular-18">
                    Для его заключения <span>необходимо предоставить карточку с реквизитами предприятия или
                    зарегистрироваться в личном кабинете</span> на данном сайте. Наши специалисты подготовят договор,
                    проработают все замечания и предложения по документу в случае их возникновения.
                </p>

                <button class="feature__button btn">
                    Перейти в личный кабинет
                </button>
            </div>
        </div>
    </div>
</section>
