<section class="figuration">
    <div class="container">
        <div class="figuration__content">
            <h2 class="figuration__title h h_h1">Как оформить заказ</h2>

            <span class="figuration__subtitle text__regular-18">
                Для удобства всегда доступны три варианта оформления заказа:
            </span>

            <ul class="figuration__list">
                <li class="figuration__item">
                    <figure class="figuration__item-icon">
                        <img src="../assets/images/icons/globus.svg" alt="" />
                    </figure>

                    <strong class="figuration__item-counter h h_h1"> 01 </strong>

                    <p class="figuration__item-description text__regular-20">
                        Оформление заказа онлайн прямо  на данном сайте через корзину
                    </p>

                    <a href="#" class="figuration__item-link btn"> В каталог </a>
                </li>
                <li class="figuration__item">
                    <figure class="figuration__item-icon">
                        <img src="../assets/images/icons/receipt.svg" alt="" />
                    </figure>

                    <strong class="figuration__item-counter h h_h1"> 02 </strong>

                    <p class="figuration__item-description text__regular-20">
                        Оформление заказа по цветным и информативным фото-прайсам, которые предоставляют наши
                        специалисты по запросу
                    </p>
                </li>
                <li class="figuration__item">
                    <figure class="figuration__item-icon">
                        <img src="../assets/images/icons/shop.svg" alt="" />
                    </figure>

                    <strong class="figuration__item-counter h h_h1"> 03 </strong>

                    <p class="figuration__item-description text__regular-20">
                        Покупка товаров непосредственно в нашем оптово-розничном магазине
                    </p>

                    <div class="figuration__item-bottom">
                        <figure class="figuration__item-bottom-icon">
                            <img src="../assets/images/icons/location.svg" alt="" />
                        </figure>

                        <p class="figuration__item-bottom-text text__regular-20">
                            г. Москва, поселение Сосенское, Калужское шоссе, 22-й километр, стр. 10
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
