<section class="detailed">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <a href="#" class="breadcrumbs__txt">Новости</a>
            <span class="breadcrumbs__txt">Стили флористики</span>
        </nav>
        <div class="detailed__content">
            <figure class="detailed__image">
                <img src="./assets/images/sections/detailed/detailed-image.png" alt="" />
            </figure>

            <time datetime="20.03.2024" class="detailed__date"> 20.03.2024</time>

            <div class="detailed__text-block">
                <h1 class="detailed__title h h_h1">Стили флористики</h1>

                <p class="detailed__description">
                    Флористика — это искусство создания красивых и гармоничных композиций из живых растений,
                    цветов, веток и других растительных материалов. В ее основе лежит глубокое понимание
                    цвета, формы и текстуры, а также умение сочетать их в уникальные ансамбли. Флористика
                    является не только способом украшения пространства, но и позволяет выражать эмоции,
                    передавать настроение и создавать атмосферу праздника.  
                </p>

                <p class="detailed__description">
                    Существует множество стилей оформления цветочных композиций. Однако флористы чаще всего
                    используют четыре основных стиля. Давайте рассмотрим их подробнее.
                </p>
            </div>

            <div class="detailed__text-block">
                <h2 class="detailed__title h h_h2">Основные стили флористики <br />и их особенности</h2>

                <p class="detailed__description">
                    Существует множество стилей оформления цветочных композиций. Однако флористы чаще всего
                    используют четыре основных стиля. Давайте рассмотрим их подробнее.
                </p>
            </div>

            <div class="detailed__text-block">
                <h2 class="detailed__title h h_h2">Декоративный</h2>

                <p class="detailed__description">
                    Целью такого стиля является создание гармоничной картины. Внимание флориста  должно быть
                    сосредоточено на том, как цветы выглядят вместе, а не в отдельности.  Чаще всего букеты в
                    таком стиле используются на торжественных мероприятиях, например, свадьба, выпускной,
                    юбилей или другое важное торжество. В данном стиле также допускается использование
                    искусственного декора — бусин, ленточек, перьев, бантиков и другого. Для такой композиции
                    достаточно одного-двух видов.
                </p>

                <span class="detailed__subtitle"> Особенностями данного стиля являются: </span>

                <ul>
                    <li>Плотность заполнения. Цветы должны быть расположены близко друг к другу.</li>
                    <li>Симметрия и асимметрия. Композиция может быть и симметричной, и асимметричной.</li>
                    <li>Использование натурального и искусственного декора.</li>
                    <li>Соцветий всегда больше, чем зелени.</li>
                </ul>
            </div>

            <div class="detailed__text-block">
                <h2 class="detailed__title h h_h2">Заключение</h2>

                <p class="detailed__description">
                    В заключение можно отметить, что стили флористики представляют собой богатое многообразие
                    творческих подходов к созданию красивых и гармоничных композиций из живых растений. Каждый
                    стиль имеет свои уникальные особенности.
                </p>
                <p class="detailed__description">
                    Развитие флористических стилей является отражением культурных и художественных тенденций
                    различных стран и эпох, а также продуктом постоянного творческого поиска и инноваций.
                    Изучение и практика различных стилей флористики позволяют флористам расширять свой
                    творческий потенциал, создавать уникальные и впечатляющие композиции, а также вносить свой
                    вклад в развитие цветочного искусства.
                </p>

                <p class="detailed__description">
                    Ощутите каждый стиль флористики на себе, а компания Миррэй поможет вам в этом!
                </p>
            </div>

            <a href="#" class="detailed__link link">
                <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M3 10.2495L10 10.2495L17 10.2495"
                        stroke="#1D1D1B"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M5.625 12.875L8.25 15.5"
                        stroke="#1D1D1B"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M3 10.25L8.25 5"
                        stroke="#1D1D1B"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>

                <span>Назад к списку новостей</span>
            </a>
        </div>
    </div>
</section>
