<section class="popular">
    <div class="container">
        <div class="popular__title">
            <h2 class="h h_h1">Популярные категории</h2>
            <a href="#" class="link">
                <span>Все категории</span>
                <svg  viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.9998 10.7498L2.99976 10.7498" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.3745 13.375L11.7495 16" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17 10.75L11.75 5.5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    
            </a>
        </div>
        <div class="popular__wrapper">
            <a href="#" class="popular-card">
                <div class="popular-card__image">
                    <img src="./assets/images/sections/popular-card/card1.png" alt="">
                </div>
                <div class="popular-card__inner">
                    <div class="popular-card__title">
                        <h3 class="popular-card__title-h">Упаковка для цветов и подарков</h3>
                        <span class="popular-card__title-t">Более 100 товаров</span>
                    </div>
                    <button class="popular-card__link">
                        <span>Смотреть все</span>
                        <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9997 4.99968L4.99951 14.9999" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9996 8.75029V12.5004" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </a>
            <a href="#" class="popular-card">
                <div class="popular-card__image">
                    <img src="./assets/images/sections/popular-card/card2.png" alt="">
                </div>
                <div class="popular-card__inner">
                    <div class="popular-card__title">
                        <h3 class="popular-card__title-h">Коробки для цветов</h3>
                        <span class="popular-card__title-t">Более 100 товаров</span>
                    </div>
                    <button class="popular-card__link">
                        <span>Смотреть все</span>
                        <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9997 4.99968L4.99951 14.9999" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9996 8.75029V12.5004" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </a>
            <a href="#" class="popular-card">
                <div class="popular-card__image">
                    <img src="./assets/images/sections/popular-card/card3.png" alt="">
                </div>
                <div class="popular-card__inner">
                    <div class="popular-card__title">
                        <h3 class="popular-card__title-h">Корзины и плетеные изделия</h3>
                        <span class="popular-card__title-t">Более 100 товаров</span>
                    </div>
                    <button class="popular-card__link">
                        <span>Смотреть все</span>
                        <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9997 4.99968L4.99951 14.9999" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9996 8.75029V12.5004" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </a>
            <a href="#" class="popular-card">
                <div class="popular-card__image">
                    <img src="./assets/images/sections/popular-card/card4.png" alt="">
                </div>
                <div class="popular-card__inner">
                    <div class="popular-card__title">
                        <h3 class="popular-card__title-h">Сухоцветы</h3>
                        <span class="popular-card__title-t">Более 100 товаров</span>
                    </div>
                    <button class="popular-card__link">
                        <span>Смотреть все</span>
                        <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9997 4.99968L4.99951 14.9999" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9996 8.75029V12.5004" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </a>
            <a href="#" class="popular-card">
                <div class="popular-card__image">
                    <img src="./assets/images/sections/popular-card/card5.png" alt="">
                </div>
                <div class="popular-card__inner">
                    <div class="popular-card__title">
                        <h3 class="popular-card__title-h">Пакеты для цветов и подарков</h3>
                        <span class="popular-card__title-t">Более 100 товаров</span>
                    </div>
                    <button class="popular-card__link">
                        <span>Смотреть все</span>
                        <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9997 4.99968L4.99951 14.9999" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9996 8.75029V12.5004" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </a>
            <a href="#" class="popular-card">
                <div class="popular-card__image">
                    <img src="./assets/images/sections/popular-card/card6.png" alt="">
                </div>
                <div class="popular-card__inner">
                    <div class="popular-card__title">
                        <h3 class="popular-card__title-h">Лента</h3>
                        <span class="popular-card__title-t">Более 100 товаров</span>
                    </div>
                    <button class="popular-card__link">
                        <span>Смотреть все</span>
                        <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9997 4.99968L4.99951 14.9999" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9996 8.75029V12.5004" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </a>
            <a href="#" class="popular-card">
                <div class="popular-card__image">
                    <img src="./assets/images/sections/popular-card/card7.png" alt="">
                </div>
                <div class="popular-card__inner">
                    <div class="popular-card__title">
                        <h3 class="popular-card__title-h">Товары для флористов</h3>
                        <span class="popular-card__title-t">Более 100 товаров</span>
                    </div>
                    <button class="popular-card__link">
                        <span>Смотреть все</span>
                        <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9997 4.99968L4.99951 14.9999" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9996 8.75029V12.5004" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </a>
            <a href="#" class="popular-card">
                <div class="popular-card__image">
                    <img src="./assets/images/sections/popular-card/card8.png" alt="">
                </div>
                <div class="popular-card__inner">
                    <div class="popular-card__title">
                        <h3 class="popular-card__title-h">Новогодние украшения</h3>
                        <span class="popular-card__title-t">Более 100 товаров</span>
                    </div>
                    <button class="popular-card__link">
                        <span>Смотреть все</span>
                        <svg  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9997 4.99968L4.99951 14.9999" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.9996 8.75029V12.5004" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0001 4.99993H7.49993" stroke="#2B5644" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </a>
            <button class="popular__btn">
                <div class="popular__btn-text">Более 100 товаров</div>
                <div class="popular__btn-b-image">
                    <div class="popular__btn-circle"></div>
                    <div class="popular__btn-image">
                        <img src="./assets/images/sections/popular-card/flower.svg" alt="">
                    </div>
                </div>
                <div class="popular__btn-title">Все категории</div>
                <div class="popular__btn-arrow">
                    <svg  viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M37.4991 12.4991L12.4987 37.4996" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.4993 21.8756V31.2507" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M37.5002 12.4998L18.7498 12.4998" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </button>
        </div>
    </div>
</section>