<section class="pricing variants">
    <div class="container">
        <div class="pricing__content">
            <h2 class="pricing__title h h_h1">Варианты ценообразования</h2>

            <div class="swiper variants__slider variants-swiper">
                <ul class="swiper-wrapper variants__list">
                    <li class="swiper-slide">
                        <div class="variants__card">
                            <span class="variants__card-counter h h_h2">01</span>

                            <figure class="variants__card-image">
                                <img src="./assets/images/sections/variants/variants-image-1.png" alt="" />
                            </figure>

                            <strong class="variants__card-category h h_h4"> Розничная цена </strong>

                            <p class="variants__card-description text__regular-16">
                                Без минимальной суммы заказа и от любого количества штук товара. Для заказа
                                на общую сумму до 100 000 ₽ по оптовому прайсу.
                            </p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="variants__card">
                            <span class="variants__card-counter h h_h2">02</span>

                            <figure class="variants__card-image">
                                <img src="./assets/images/sections/variants/variants-image-2.png" alt="" />
                            </figure>

                            <strong class="variants__card-category h h_h4">Оптовая цена</strong>

                            <p class="variants__card-description text__regular-16">
                                Распространяется на заказ на общую сумму от 100 000 ₽ по оптовому прайсу. +
                                бесплатная доставка по Москве и до ТК (в пределах МКАД).
                            </p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="variants__card">
                            <span class="variants__card-counter h h_h2">03</span>

                            <figure class="variants__card-image">
                                <img src="./assets/images/sections/variants/variants-image-3.png" alt="" />
                            </figure>

                            <strong class="variants__card-category h h_h4">Спеццена</strong>

                            <p class="variants__card-description text__regular-16">
                                При оформлении заказа на общую сумму  от 100 000 рублей по оптовому прайсу и
                                добавлении в корзину отдельных товаров в количестве кратном коробу Вы
                                получаете еще более выгодную спеццену на этот конкретный товар.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="variants__pagination swiper-pagination">
            </div>

            <div class="pricing__contacts">
                <div class="pricing__contacts-text">
                    <span class="pricing__contacts-title h h_h3"> Дополнительная индивидуальной скидка </span>

                    <p class="pricing__contacts-description text__regular-16">
                        Для получения дополнительной индивидуальной скидки на крупные заказы от 1 млн рублей,
                        обратитесь к своему персональному менеджеру или свяжитесь с нами любым удобным Вам
                        способом.
                    </p>
                </div>

                <ul class="pricing__contacts-list">
                    <li class="pricing__contacts-item">
                        <figure class="pricing__contacts-item-icon">
                            <img src="../assets/images/icons/phone.svg" alt="" />
                        </figure>

                        <div class="pricing__contacts-item-text">
                            <strong class="pricing__contacts-item-title h h_h4"> Телефон </strong>

                            <a href="tel:+7 (495) 120-44-98" class="pricing__contacts-item-link">
                                +7 (495) 120-44-98
                            </a>
                        </div>
                    </li>
                    <li class="pricing__contacts-item">
                        <figure class="pricing__contacts-item-icon">
                            <img src="../assets/images/icons/email.svg" alt="" />
                        </figure>

                        <div class="pricing__contacts-item-text">
                            <strong class="pricing__contacts-item-title h h_h4"> Почта </strong>

                            <a href="mailto:whdir@mirrey.ru" class="pricing__contacts-item-link">
                                whdir@mirrey.ru
                            </a>
                        </div>
                    </li>
                    <li class="pricing__contacts-item">
                        <figure class="pricing__contacts-item-icon">
                            <img src="../assets/images/icons/clock.svg" alt="" />
                        </figure>

                        <div class="pricing__contacts-item-text">
                            <strong class="pricing__contacts-item-title h h_h4"> График работы </strong>

                            <p class="pricing__contacts-item-description">
                                Пн - Пт: с 9:00 до 18:00 <br />Сб - Вс: выходные
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
