<section class="products">
    <div class="container">
        <div class="products__content">
            <h2 class="products__title h h_h1">Товары</h2>

            <nav class="products__navigation">
                <button class="products__navigation-button --active">Все</button>
                <button class="products__navigation-button">Прозрачные переноски</button>
            </nav>

            <ul class="products__cards">
                <li class="product__item">
                    <a href="#" class="recommendations__card">
                        <figure class="recommendations__card-image">
                            <img
                                src="./assets/images/sections/recommendations/recommendations-image-1.png"
                                alt=""
                            />
                        </figure>

                        <div class="recommendations__card-promotions">
                            <span class="recommendations__card-discard"> - 10% </span>

                            <span class="recommendations__card-hit"> Хит продаж </span>
                        </div>

                        <div class="recommendations__card-promotion">
                            <div class="recommendations__card-countdown">
                                <ul class="recommendations__card-countdown-list" data-seconds="5000">
                                    <li class="recommendations__card-countdown-item">
                                        <strong>11</strong>
                                        <span>Дни</span>
                                    </li>
                                    <li class="recommendations__card-countdown-item">
                                        <strong>15</strong>
                                        <span>Часы</span>
                                    </li>
                                    <li class="recommendations__card-countdown-item">
                                        <strong>45</strong>
                                        <span>Минуты</span>
                                    </li>
                                </ul>
                            </div>

                            <p class="recommendations__card-promotion-counter">
                                <strong>699</strong>
                                <span>Штук</span>
                            </p>
                        </div>

                        <p class="recommendations__card-title text__regular-18">
                            Подарочная коробка-переноска для цветов с ручками, 16 см*16 см*24 см. (10
                            шт./упак), пастельно-сирен
                        </p>

                        <span class="recommendations__card-articul text__regular-16">
                            Артикул: 4640108881369
                        </span>

                        <div class="recommendations__card-group">
                            <button class="recommendations__card-group-button --primary">
                                <span>Оптовая цена &nbsp;</span>
                                <p class="cr">45.90₽</p>
                                <p>50₽</p>
                                <span>/от 100 тыс.</span>
                            </button>

                            <button class="recommendations__card-group-button --secondary">
                                <span>Розничная цена &nbsp;</span> 95.90₽/шт
                            </button>
                        </div>

                        <button type="button"
class="recommendations__card-button btn__card">
                            <span> В корзину </span>

                            <svg
                                width="60"
                                height="60"
                                viewBox="0 0 60 60"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect width="60" height="60" rx="30" fill="#F4F4F4" />
                                <path
                                    d="M25.5 25.6787V24.7087C25.5 22.4587 27.31 20.2487 29.56 20.0387C32.24 19.7787 34.5 21.8887 34.5 24.5187V25.8987"
                                    stroke="#1D1D1B"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M27.0008 40.0088H33.0008C37.0208 40.0088 37.7408 38.3988 37.9508 36.4388L38.7008 30.4388C38.9708 27.9988 38.2708 26.0088 34.0008 26.0088H26.0008C21.7308 26.0088 21.0308 27.9988 21.3008 30.4388L22.0508 36.4388C22.2608 38.3988 22.9808 40.0088 27.0008 40.0088Z"
                                    stroke="#1D1D1B"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M33.4945 30.0087H33.5035"
                                    stroke="#1D1D1B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M26.4945 30.0087H26.5035"
                                    stroke="#1D1D1B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="product__item">
                    <a href="#" class="recommendations__card">
                        <figure class="recommendations__card-image">
                            <img
                                src="./assets/images/sections/recommendations/recommendations-image-1.png"
                                alt=""
                            />
                        </figure>

                        <div class="recommendations__card-promotions">
                            <span class="recommendations__card-discard"> - 10% </span>

                            <span class="recommendations__card-hit"> Хит продаж </span>
                        </div>

                        <div class="recommendations__card-promotion">
                            <div class="recommendations__card-countdown">
                                <ul class="recommendations__card-countdown-list" data-seconds="4200">
                                    <li class="recommendations__card-countdown-item">
                                        <strong>11</strong>
                                        <span>Дни</span>
                                    </li>
                                    <li class="recommendations__card-countdown-item">
                                        <strong>15</strong>
                                        <span>Часы</span>
                                    </li>
                                    <li class="recommendations__card-countdown-item">
                                        <strong>45</strong>
                                        <span>Минуты</span>
                                    </li>
                                </ul>
                            </div>

                            <p class="recommendations__card-promotion-counter">
                                <strong>699</strong>
                                <span>Штук</span>
                            </p>
                        </div>

                        <p class="recommendations__card-title text__regular-18">
                            Подарочная коробка-переноска для цветов с ручками, 16 см*16 см*24 см. (10
                            шт./упак), пастельно-сирен
                        </p>

                        <span class="recommendations__card-articul text__regular-16">
                            Артикул: 4640108881369
                        </span>

                        <div class="recommendations__card-group">
                            <button class="recommendations__card-group-button --primary">
                                <span>Оптовая цена &nbsp;</span>
                                <p class="cr">45.90₽</p>
                                <p>50₽</p>
                                <span>/от 100 тыс.</span>
                            </button>

                            <button class="recommendations__card-group-button --secondary">
                                <span>Розничная цена &nbsp;</span> 95.90₽/шт
                            </button>
                        </div>

                        <button type="button"
class="recommendations__card-button btn__card">
                            <span> В корзину </span>

                            <svg
                                width="60"
                                height="60"
                                viewBox="0 0 60 60"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect width="60" height="60" rx="30" fill="#F4F4F4" />
                                <path
                                    d="M25.5 25.6787V24.7087C25.5 22.4587 27.31 20.2487 29.56 20.0387C32.24 19.7787 34.5 21.8887 34.5 24.5187V25.8987"
                                    stroke="#1D1D1B"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M27.0008 40.0088H33.0008C37.0208 40.0088 37.7408 38.3988 37.9508 36.4388L38.7008 30.4388C38.9708 27.9988 38.2708 26.0088 34.0008 26.0088H26.0008C21.7308 26.0088 21.0308 27.9988 21.3008 30.4388L22.0508 36.4388C22.2608 38.3988 22.9808 40.0088 27.0008 40.0088Z"
                                    stroke="#1D1D1B"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M33.4945 30.0087H33.5035"
                                    stroke="#1D1D1B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M26.4945 30.0087H26.5035"
                                    stroke="#1D1D1B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="product__item">
                    <a href="#" class="recommendations__card">
                        <figure class="recommendations__card-image">
                            <img
                                src="./assets/images/sections/recommendations/recommendations-image-1.png"
                                alt=""
                            />
                        </figure>

                        <div class="recommendations__card-promotions">
                            <span class="recommendations__card-discard"> - 10% </span>

                            <span class="recommendations__card-hit"> Хит продаж </span>
                        </div>

                        <div class="recommendations__card-promotion">
                            <div class="recommendations__card-countdown">
                                <ul class="recommendations__card-countdown-list" data-seconds="5000">
                                    <li class="recommendations__card-countdown-item">
                                        <strong>11</strong>
                                        <span>Дни</span>
                                    </li>
                                    <li class="recommendations__card-countdown-item">
                                        <strong>15</strong>
                                        <span>Часы</span>
                                    </li>
                                    <li class="recommendations__card-countdown-item">
                                        <strong>45</strong>
                                        <span>Минуты</span>
                                    </li>
                                </ul>
                            </div>

                            <p class="recommendations__card-promotion-counter">
                                <strong>699</strong>
                                <span>Штук</span>
                            </p>
                        </div>

                        <p class="recommendations__card-title text__regular-18">
                            Подарочная коробка-переноска для цветов с ручками, 16 см*16 см*24 см. (10
                            шт./упак), пастельно-сирен
                        </p>

                        <span class="recommendations__card-articul text__regular-16">
                            Артикул: 4640108881369
                        </span>

                        <div class="recommendations__card-group">
                            <button class="recommendations__card-group-button --primary">
                                <span>Оптовая цена &nbsp;</span>
                                <p class="cr">45.90₽</p>
                                <p>50₽</p>
                                <span>/от 100 тыс.</span>
                            </button>

                            <button class="recommendations__card-group-button --secondary">
                                <span>Розничная цена &nbsp;</span> 95.90₽/шт
                            </button>
                        </div>

                        <button type="button"
class="recommendations__card-button btn__card">
                            <span> В корзину </span>

                            <svg
                                width="60"
                                height="60"
                                viewBox="0 0 60 60"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect width="60" height="60" rx="30" fill="#F4F4F4" />
                                <path
                                    d="M25.5 25.6787V24.7087C25.5 22.4587 27.31 20.2487 29.56 20.0387C32.24 19.7787 34.5 21.8887 34.5 24.5187V25.8987"
                                    stroke="#1D1D1B"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M27.0008 40.0088H33.0008C37.0208 40.0088 37.7408 38.3988 37.9508 36.4388L38.7008 30.4388C38.9708 27.9988 38.2708 26.0088 34.0008 26.0088H26.0008C21.7308 26.0088 21.0308 27.9988 21.3008 30.4388L22.0508 36.4388C22.2608 38.3988 22.9808 40.0088 27.0008 40.0088Z"
                                    stroke="#1D1D1B"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M33.4945 30.0087H33.5035"
                                    stroke="#1D1D1B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M26.4945 30.0087H26.5035"
                                    stroke="#1D1D1B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="product__item">
                    <a href="#" class="recommendations__card">
                        <figure class="recommendations__card-image">
                            <img
                                src="./assets/images/sections/recommendations/recommendations-image-1.png"
                                alt=""
                            />
                        </figure>

                        <div class="recommendations__card-promotions">
                            <span class="recommendations__card-discard"> - 10% </span>

                            <span class="recommendations__card-hit"> Хит продаж </span>
                        </div>

                        <div class="recommendations__card-promotion">
                            <div class="recommendations__card-countdown">
                                <ul class="recommendations__card-countdown-list" data-seconds="5000">
                                    <li class="recommendations__card-countdown-item">
                                        <strong>11</strong>
                                        <span>Дни</span>
                                    </li>
                                    <li class="recommendations__card-countdown-item">
                                        <strong>15</strong>
                                        <span>Часы</span>
                                    </li>
                                    <li class="recommendations__card-countdown-item">
                                        <strong>45</strong>
                                        <span>Минуты</span>
                                    </li>
                                </ul>
                            </div>

                            <p class="recommendations__card-promotion-counter">
                                <strong>699</strong>
                                <span>Штук</span>
                            </p>
                        </div>

                        <p class="recommendations__card-title text__regular-18">
                            Подарочная коробка-переноска для цветов с ручками, 16 см*16 см*24 см. (10
                            шт./упак), пастельно-сирен
                        </p>

                        <span class="recommendations__card-articul text__regular-16">
                            Артикул: 4640108881369
                        </span>

                        <div class="recommendations__card-group">
                            <button class="recommendations__card-group-button --primary">
                                <span>Оптовая цена &nbsp;</span>
                                <p class="cr">45.90₽</p>
                                <p>50₽</p>
                                <span>/от 100 тыс.</span>
                            </button>

                            <button class="recommendations__card-group-button --secondary">
                                <span>Розничная цена &nbsp;</span> 95.90₽/шт
                            </button>
                        </div>

                        <button type="button"
class="recommendations__card-button btn__card">
                            <span> В корзину </span>

                            <svg
                                width="60"
                                height="60"
                                viewBox="0 0 60 60"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect width="60" height="60" rx="30" fill="#F4F4F4" />
                                <path
                                    d="M25.5 25.6787V24.7087C25.5 22.4587 27.31 20.2487 29.56 20.0387C32.24 19.7787 34.5 21.8887 34.5 24.5187V25.8987"
                                    stroke="#1D1D1B"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M27.0008 40.0088H33.0008C37.0208 40.0088 37.7408 38.3988 37.9508 36.4388L38.7008 30.4388C38.9708 27.9988 38.2708 26.0088 34.0008 26.0088H26.0008C21.7308 26.0088 21.0308 27.9988 21.3008 30.4388L22.0508 36.4388C22.2608 38.3988 22.9808 40.0088 27.0008 40.0088Z"
                                    stroke="#1D1D1B"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M33.4945 30.0087H33.5035"
                                    stroke="#1D1D1B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M26.4945 30.0087H26.5035"
                                    stroke="#1D1D1B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
