<section class="promotions">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Акции</span>
        </nav>

        <div class="promotions__content">
            <h1 class="promotions__title h h_h1">Акции</h1>

            <div class="promotions__cards">
                <a href="#" class="promotions__card">
                    <div class="promotions__card-info">
                        <div class="promotions__card-heading">
                            <strong class="promotions__card-discard h h_h1"> -8% </strong>

                            <figure class="promotions__card-icon">
                                <svg
                                    width="32"
                                    height="33"
                                    viewBox="0 0 32 33"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M24.0003 8.4992L8 24.4995"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24 14.5004V20.5005"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24.0001 8.49988H11.9999"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </figure>
                        </div>

                        <time datetime="13.12.2023" class="promotions__card-date"> до 13.12.2023 </time>

                        <p class="promotions__card-description h h_h3 _desktop-only">
                            «Ваза в каждый дом» — скидки 8% на весь ассортименте
                        </p>
                    </div>

                    <figure class="promotions__card-image">
                        <img src="./assets/images/sections/promotions/promotion-card-image.png" alt="" />
                    </figure>

                    <p class="promotions__card-description h h_h3 _mobile-only">
                        «Ваза в каждый дом» — скидки 8% на весь ассортименте
                    </p>
                </a>
                <a href="#" class="promotions__card">
                    <div class="promotions__card-info">
                        <div class="promotions__card-heading">
                            <strong class="promotions__card-discard h h_h1"> -8% </strong>

                            <figure class="promotions__card-icon">
                                <svg
                                    width="32"
                                    height="33"
                                    viewBox="0 0 32 33"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M24.0003 8.4992L8 24.4995"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24 14.5004V20.5005"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24.0001 8.49988H11.9999"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </figure>
                        </div>

                        <time datetime="13.12.2023" class="promotions__card-date"> до 13.12.2023 </time>

                        <p class="promotions__card-description h h_h3 _desktop-only">
                            «Ваза в каждый дом» — скидки 8% на весь ассортименте
                        </p>
                    </div>

                    <figure class="promotions__card-image">
                        <img src="./assets/images/sections/promotions/promotion-card-image-2.png" alt="" />
                    </figure>

                    <p class="promotions__card-description h h_h3 _mobile-only">
                        «Ваза в каждый дом» — скидки 8% на весь ассортименте
                    </p>
                </a>
                <a href="#" class="promotions__card --large">
                    <figure class="promotions__card-image">
                        <img
                            src="./assets/images/sections/promotions/large-image.png"
                            alt=""
                            class="_desktop-only"
                        />
                        <img
                            src="./assets/images/sections/promotions/large-image-mobile.png"
                            alt=""
                            class="_mobile-only"
                        />
                    </figure>

                    <h2 class="promotions__card-title h h_h1">Коробки для цветов в ассортименте</h2>

                    <p class="promotions__card-description">
                        Огромный выбор подарочных коробок для цветов к 8 марта
                    </p>

                    <button type="button" class="promotions__card-link btn btn__white">В каталог</button>
                </a>
                <a href="#" class="promotions__card">
                    <div class="promotions__card-info">
                        <div class="promotions__card-heading">
                            <strong class="promotions__card-discard h h_h1"> -8% </strong>

                            <figure class="promotions__card-icon">
                                <svg
                                    width="32"
                                    height="33"
                                    viewBox="0 0 32 33"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M24.0003 8.4992L8 24.4995"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24 14.5004V20.5005"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24.0001 8.49988H11.9999"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </figure>
                        </div>

                        <time datetime="13.12.2023" class="promotions__card-date"> до 13.12.2023 </time>

                        <p class="promotions__card-description h h_h3 _desktop-only">
                            «Ваза в каждый дом» — скидки 8% на весь ассортименте
                        </p>
                    </div>

                    <figure class="promotions__card-image">
                        <img src="./assets/images/sections/promotions/promotion-card-image.png" alt="" />
                    </figure>

                    <p class="promotions__card-description h h_h3 _mobile-only">
                        «Ваза в каждый дом» — скидки 8% на весь ассортименте
                    </p>
                </a>
                <a href="#" class="promotions__card">
                    <div class="promotions__card-info">
                        <div class="promotions__card-heading">
                            <strong class="promotions__card-discard h h_h1"> -8% </strong>

                            <figure class="promotions__card-icon">
                                <svg
                                    width="32"
                                    height="33"
                                    viewBox="0 0 32 33"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M24.0003 8.4992L8 24.4995"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24 14.5004V20.5005"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24.0001 8.49988H11.9999"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </figure>
                        </div>

                        <time datetime="13.12.2023" class="promotions__card-date"> до 13.12.2023 </time>

                        <p class="promotions__card-description h h_h3 _desktop-only">
                            «Ваза в каждый дом» — скидки 8% на весь ассортименте
                        </p>
                    </div>

                    <figure class="promotions__card-image">
                        <img src="./assets/images/sections/promotions/promotion-card-image-3.png" alt="" />
                    </figure>

                    <p class="promotions__card-description h h_h3 _mobile-only">
                        «Ваза в каждый дом» — скидки 8% на весь ассортименте
                    </p>
                </a>
                <a href="#" class="promotions__card">
                    <div class="promotions__card-info">
                        <div class="promotions__card-heading">
                            <strong class="promotions__card-discard h h_h1"> -8% </strong>

                            <figure class="promotions__card-icon">
                                <svg
                                    width="32"
                                    height="33"
                                    viewBox="0 0 32 33"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M24.0003 8.4992L8 24.4995"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24 14.5004V20.5005"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24.0001 8.49988H11.9999"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </figure>
                        </div>

                        <time datetime="13.12.2023" class="promotions__card-date"> до 13.12.2023 </time>

                        <p class="promotions__card-description h h_h3 _desktop-only">
                            «Ваза в каждый дом» — скидки 8% на весь ассортименте
                        </p>
                    </div>

                    <figure class="promotions__card-image">
                        <img src="./assets/images/sections/promotions/promotion-card-image.png" alt="" />
                    </figure>

                    <p class="promotions__card-description h h_h3 _mobile-only">
                        «Ваза в каждый дом» — скидки 8% на весь ассортименте
                    </p>
                </a>
                <a href="#" class="promotions__card">
                    <div class="promotions__card-info">
                        <div class="promotions__card-heading">
                            <strong class="promotions__card-discard h h_h1"> -8% </strong>

                            <figure class="promotions__card-icon">
                                <svg
                                    width="32"
                                    height="33"
                                    viewBox="0 0 32 33"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M24.0003 8.4992L8 24.4995"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24 14.5004V20.5005"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M24.0001 8.49988H11.9999"
                                        stroke="#E29AA8"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </figure>
                        </div>

                        <time datetime="13.12.2023" class="promotions__card-date"> до 13.12.2023 </time>

                        <p class="promotions__card-description h h_h3 _desktop-only">
                            «Ваза в каждый дом» — скидки 8% на весь ассортименте
                        </p>
                    </div>

                    <figure class="promotions__card-image">
                        <img src="./assets/images/sections/promotions/promotion-card-image-2.png" alt="" />
                    </figure>

                    <p class="promotions__card-description h h_h3 _mobile-only">
                        «Ваза в каждый дом» — скидки 8% на весь ассортименте
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>
