<section class="receipts">
    <div class="container">
        <div class="receipts__content">
            <div class="receipts__heading section-heading subtitle">
                <div class="receipts__heading-text subtitle__text">
                    <h2 class="receipts__heading-text-title h h_h1">Недавние</h2>

                    <p class="receipts__heading-text-subtext">
                        <small class="text__regular-16-caps">100+ товаров</small>

                        <span class="h h_h1">поступления</span>
                    </p>
                </div>

                <a href=""  data-da=".receipts__content,768,last" class="receipts__heading-link link">
                    <span>Все новинки</span>

                    <svg viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16.9998 10.7498L2.99976 10.7498"
                            stroke="#1D1D1B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M14.3745 13.375L11.7495 16"
                            stroke="#1D1D1B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M17 10.75L11.75 5.5"
                            stroke="#1D1D1B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </a>
            </div>

            <div class="receipts__slider swiper receipts-swiper">
                <ul class="swiper-wrapper receipts__cards">
                    <li class="swiper-slide">
                        <a href="#" class="receipts__card">
                            <div class="receipts__card-top">
                                <figure class="receipts__card-top-image">
                                    <img src="./assets/images/sections/receipts/receipts-image-1.png" alt="" />
                                </figure>

                                <span class="receipts__card-top-counter">
                                50 <br />
                                товаров
                            </span>
                            </div>

                            <div class="receipts__card-bottom">
                            <span class="receipts__card-bottom-title"
                            >Пакеты подарочные <br />
                                для бутылки</span
                            >

                                <figure class="receipts__card-bottom-icon">
                                    <img src="../assets/images/icons/arrow-rotated.svg" alt="" />
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="receipts__card">
                            <div class="receipts__card-top">
                                <figure class="receipts__card-top-image">
                                    <img src="./assets/images/sections/receipts/receipts-image-2.png" alt="" />
                                </figure>

                                <span class="receipts__card-top-counter">
                                50 <br />
                                товаров
                            </span>
                            </div>

                            <div class="receipts__card-bottom">
                            <span class="receipts__card-bottom-title"
                            >Подарочные пакеты <br />
                                "Мастхэв"</span
                            >

                                <figure class="receipts__card-bottom-icon">
                                    <img src="../assets/images/icons/arrow-rotated.svg" alt="" />
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="receipts__card">
                            <div class="receipts__card-top">
                                <figure class="receipts__card-top-image">
                                    <img src="./assets/images/sections/receipts/receipts-image-3.png" alt="" />
                                </figure>

                                <span class="receipts__card-top-counter">
                                50 <br />
                                товаров
                            </span>
                            </div>

                            <div class="receipts__card-bottom">
                            <span class="receipts__card-bottom-title"
                            >Коробки для цветов <br />
                                "Премиум"</span
                            >

                                <figure class="receipts__card-bottom-icon">
                                    <img src="../assets/images/icons/arrow-rotated.svg" alt="" />
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="receipts__card">
                            <div class="receipts__card-top">
                                <figure class="receipts__card-top-image">
                                    <img src="./assets/images/sections/receipts/receipts-image-4.png" alt="" />
                                </figure>

                                <span class="receipts__card-top-counter">
                                50 <br />
                                товаров
                            </span>
                            </div>

                            <div class="receipts__card-bottom">
                                <span class="receipts__card-bottom-title">Краска-спрей <br> для цветов</span>

                                <figure class="receipts__card-bottom-icon">
                                    <img src="../assets/images/icons/arrow-rotated.svg" alt="" />
                                </figure>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
