<section class="seo">
    <div class="container">
        <div class="seo__content">
            <figure class="seo__image">
                <img src="./assets/images/sections/seo/image.png" alt="">
            </figure>

            <div class="seo__text">
                <h2 class="seo__title h h_h1">
                    Новогодние украшения
                </h2>

                <p class="text__regular-20">
                    Добро пожаловать в интернет-магазин, где качество в сочетании с доступными ценами становится реальностью! Мы предлагаем широкий ассортимент товаров для всей семьи, начиная от модной одежды и аксессуаров, заканчивая бытовой техникой и товарами для дома.
                </p>

                <p class="text__regular-20">
                    Наш интернет-магазин является идеальным местом для тех, кто ценит комфортные покупки без лишних хлопот. Здесь вы найдете все необходимое для создания уютного дома, стильного образа и заботы о себе и близких.
                </p>

                <p class="text__regular-20">
                    Наш интернет-магазин является идеальным местом для тех, кто ценит комфортные покупки без лишних хлопот. Здесь вы найдете все необходимое для создания уютного дома, стильного образа и заботы о себе и близких.
                </p>

                <div data-showmore class="seo__showmore-text">
                    <div data-showmore-content="0" >
                        <p class="text__regular-20">
                            Добро пожаловать в интернет-магазин, где качество в сочетании с доступными ценами становится реальностью! Мы предлагаем широкий ассортимент товаров для всей семьи, начиная от модной одежды и аксессуаров, заканчивая бытовой техникой и товарами для дома.
                        </p>

                        <p class="text__regular-20">
                            Наш интернет-магазин является идеальным местом для тех, кто ценит комфортные покупки без лишних хлопот. Здесь вы найдете все необходимое для создания уютного дома, стильного образа и заботы о себе и близких.
                        </p>

                        <p class="text__regular-20">
                            Наш интернет-магазин является идеальным местом для тех, кто ценит комфортные покупки без лишних хлопот. Здесь вы найдете все необходимое для создания уютного дома, стильного образа и заботы о себе и близких.
                        </p>
                    </div>

                    <div data-showmore-button class="seo__showmore-button">
                        <div class="text__regular-16">
                            <span>Показать полностью</span>
                            <span>Скрыть</span>
                        </div>

                        <figure class="arrow-icon">
                            <svg
                                    width="28"
                                    height="28"
                                    viewBox="0 0 28 28"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <mask
                                        id="mask0_1561_46221"
                                        style="mask-type: alpha"
                                        maskUnits="userSpaceOnUse"
                                        x="0"
                                        y="0"
                                        width="28"
                                        height="28"
                                >
                                    <rect width="28" height="28" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_1561_46221)">
                                    <path
                                            d="M13.4405 16.5365L9.76415 12.8602C9.71344 12.8095 9.6735 12.7529 9.64434 12.6903C9.61517 12.6278 9.60059 12.5607 9.60059 12.4893C9.60059 12.3463 9.64893 12.2221 9.7456 12.1167C9.84226 12.0112 9.96967 11.9585 10.1278 11.9585L17.8726 11.9585C18.0308 11.9585 18.1582 12.0117 18.2549 12.1182C18.3515 12.2247 18.3999 12.3489 18.3999 12.4908C18.3999 12.5263 18.3453 12.6495 18.2361 12.8604L14.56 16.5365C14.4755 16.621 14.3881 16.6827 14.2979 16.7216C14.2077 16.7605 14.1085 16.7799 14.0002 16.7799C13.892 16.7799 13.7927 16.7605 13.7025 16.7216C13.6123 16.6827 13.525 16.621 13.4405 16.5365Z"
                                            fill="#2B5644"
                                    />
                                </g>
                            </svg>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>