<section class="variants">
    <div class="container">
        <div class="variants__content">
            <h2 class="variants__title h h_h1">Варианты ценообразования</h2>

            <ul class="variants__list">
                <li class="variants__item">
                    <span class="variants__item-counter h h_h2">01</span>

                    <figure class="variants__item-image">
                        <img src="./assets/images/sections/variants/variants-image-1.png" alt="" />
                    </figure>

                    <strong class="variants__item-category h h_h4"> Розничная цена </strong>

                    <p class="variants__item-description text__regular-16">
                        Без минимальной суммы заказа и от любого количества штук товара. Для заказа на общую
                        сумму до 100 000 ₽ по оптовому прайсу.
                    </p>
                </li>
                <li class="variants__item">
                    <span class="variants__item-counter h h_h2">02</span>

                    <figure class="variants__item-image">
                        <img src="./assets/images/sections/variants/variants-image-2.png" alt="" />
                    </figure>

                    <strong class="variants__item-category h h_h4">Оптовая цена</strong>

                    <p class="variants__item-description text__regular-16">
                        Распространяется на заказ на общую сумму от 100 000 ₽ по оптовому прайсу. + бесплатная
                        доставка по Москве и до ТК (в пределах МКАД).
                    </p>
                </li>
                <li class="variants__item">
                    <span class="variants__item-counter h h_h2">03</span>

                    <figure class="variants__item-image">
                        <img src="./assets/images/sections/variants/variants-image-3.png" alt="" />
                    </figure>

                    <strong class="variants__item-category h h_h4">Спеццена</strong>

                    <p class="variants__item-description text__regular-16">
                        Получите дополнительную выгоду, оформив заказ кратно коробу. Распространяется только
                        на оптовый заказ на общую сумму от 100 000 ₽ по оптовому прайсу.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
