<!-- заказ оформлен -->
<div id="checkoutComplete" aria-hidden="true" class="modal checkout-complete-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <div class="checkout-complete-modal__inner">
                        <button data-close type="button" class="modal__close">
                            <img src="./assets/images/icons/cross-white.svg" alt="" class="modal__close-icon" />
                        </button>
                        <span class="checkout-complete-modal__heading h h_h2">Ваш заказ <span>#123456</span> оформлен!</span>
                        <p class="checkout-complete-modal__text">Спасибо за выбор компании Миррэй! В ближайшее время с Вами свяжется наш менеджер для уточнения деталей.</p>
                        <div class="checkout-complete-modal__actions">
                            <a href="#" class="checkout-complete-modal__btn btn btn__white">Перейти в личный кабинет</a>
                            <a href="#" class="checkout-complete-modal__btn btn btn_ghost">Перейти в каталог</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- заказ оформлен (пользователь не зарегестрирован) -->
<div id="checkoutCompleteV2" aria-hidden="true" class="modal checkout-complete-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <div class="checkout-complete-modal__inner">
                    <button data-close type="button" class="modal__close">
                        <img src="./assets/images/icons/cross-white.svg" alt="" class="modal__close-icon" />
                    </button>
                    <span class="checkout-complete-modal__heading h h_h2">Ваш заказ <span>#123456</span> оформлен!</span>
                    <p class="checkout-complete-modal__text">Спасибо за выбор компании Миррэй! Данные для личного кабинета направлены на почту "farexampe@.com"</p>
                    <div class="checkout-complete-modal__actions">
                        <a href="#" class="checkout-complete-modal__btn btn btn__white">Перейти к регистрации</a>
                        <a href="#" class="checkout-complete-modal__btn btn btn_ghost">Перейти в каталог</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>