<section class="sale">
    <div class="container">
        <div class="sale__swiper swiper">
          <div class="sale__swiper-wrapper sale__swiper-wrapper">
              <div class="sale__slide swiper-slide">
                  <div class="sale__slide-content">
                    <div class="sale__slide-image">
                        <img src="./assets/images/sale/bgsale.png" alt="" class="sale__slide-image-desk">
                        <img src="" alt="" class="sale__slide-image-mob">
                    </div>
                      <div class="sale__slide-title h h_h1">
                          Скидки до -15% на подарочные пакеты
                      </div>
                      <a href="#" class="sale__slide-btn btn white">Перейти в каталог</a>
                  </div>
              </div>
              <div class="sale__slide swiper-slide">
                <div class="sale__slide-content">
                  <div class="sale__slide-image">
                      <img src="./assets/images/sale/bgsale.png" alt="" class="sale__slide-image-desk">
                      <img src="" alt="" class="sale__slide-image-mob">
                  </div>
                    <div class="sale__slide-title h h_h1">
                        Скидки до -15% на подарочные пакеты
                    </div>
                    <a href="#" class="sale__slide-btn btn white">Перейти в каталог</a>
                </div>
            </div>
          </div>
          <div class="sale__pagination pagination">
                <div class="sale__pagination-bullets bullets"></div>
          </div>
        </div>
    </div>
</section>